{% macro stack_row(title, items) %}
  <div class="w-full border rounded-sm px-10 pb-10 flex flex-col gap-4">
    <h4 class=" text-xl font-medium -mt-5 px-4 py-2 bg-white w-fit">{{ title }}</h4>
    <div class="flex flex-wrap gap-8">
      {% for item in items %}
        {{ stack_item(item) }}
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro stack_item(item) %}
  <a href="{{ item.link or '#' }}" target="_blank" rel="noopener noreferrer" class="no-underline">
    <div class="flex gap-3 p-3 items-center justify-center border rounded-sm bg-gray-50 hover:bg-gray-200 transition">
      <img src="{{ item.icon }}" class="w-7 h-7 aspect-square object-contain" />
      <span class="text-base font-medium text-gray-800">{{ item.title }}</span>
    </div>
  </a>
{% endmacro %}


<div class="flex flex-col gap-4 my-12">
  {% set stack_dict = get_stack_dict() %}
  <div class="flex flex-col gap-8">
    {% for key in stack_dict %}
      {{ stack_row(key, stack_dict[key]) }}
    {% endfor %}
  </div>
</div>
