{% extends 'templates/foss_base.html' %}

{% block content %}
    {{ header() }}
    {{ render_time_location() }}

    {% from 'fossunited/templates/macros/horizontal_navbar.html' import horizontal_navbar %}
    <div class="horizontal-navbar-parent">
        <div class="container p-0">
            {{ horizontal_navbar(nav_items) }}
        </div>
    </div>
    <div class="container">
            {{ render_event_details() }}
            {{ render_speakers() }}
            {{ render_rsvp() }}
            {{ render_cfp() }}
            {{ render_schedule() }}
    </div>

{% endblock %}

{% macro header() %}
<div class="container header-section-parent">
    <div class="header-section event-header">
        <img src="{{ doc.banner_image or default_banner}}" alt="Cover Image" class="foss-banner-image header--banner">
        <div class="header--title-cta-parent">
            <div>
                <h3 class="header--city-name">{{ doc.chapter_name }}</h3>
                <h1 class="header--event-title">{{ doc.event_name }}</h1>
            </div>
        </div>
        <div class="header--tags">
            {% from 'fossunited/templates/macros/foss_tags.html' import tag %}
            {{ tag(doc.event_type) }}
            {% if doc.must_attend %}
            {{ tag("Must Attend", color='hsl(var(--clr-foss-mint-600))', background='hsl(var(--clr-foss-mint-100))', icon='star-filled') }}
            {% endif %}
        </div>
        <div class="header--short-desc">
            {{ doc.event_bio }}
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_time_location() %}
<div class="container">
    <div class="time-location-parent">
        <div class="event-date-parent time-location--child-container">
            <i class="ti ti-calendar-event" style="font-size: var(--text-2xl); font-weight: var(--fw-semibold)"></i>
            <div class="d-flex flex-column">
                <div class="event-start-date child-container--heading">
                    {{ doc.event_start_date.strftime("%A, %-d %B %Y") }}
                </div>
                <div class="event-end-date child-container--subtext">
                    {{ doc.event_end_date.strftime("%A, %-d %B %Y") }}
                </div>
            </div>
        </div>
        <div class="event-time-parent time-location--child-container">
            <i class="ti ti-clock" style="font-size: var(--text-2xl); font-weight: var(--fw-semibold)"></i>
            <div class="d-flex flex-column">
                <div class="event-start-time child-container--heading">
                    Starts at {{ doc.event_start_date.strftime("%-I:%M %p") }}
                </div>
                <div class="event-end-time child-container--subtext">
                    Ends at {{ doc.event_end_date.strftime("%-I:%M %p") }}
                </div>
            </div>
        </div>
        <div class="event-location-parent time-location--child-container">
            <i class="ti ti-map-pin" style="font-size: var(--text-2xl); font-weight: var(--fw-semibold)"></i>
            <div class="d-flex flex-column">
                <a href="{{doc.map_link}}" class="event-location child-container--heading">
                    {{ doc.event_location }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_event_details() %}
<div class="event-content-div content-div" id="event_information">
    <div class="description-section my-3">
        <h5>Description</h5>
        <div class="event--description-block mt-2">
            {{ doc.event_description or 'No Description Available for this event'}}
        </div>
    </div>

    {% if doc.sponsor_list %}
    <div class="sponsors-section my-3">
        <h5 class="mt-3 mb-1">Sponsors</h5>
        {% for k,v in sponsors_dict.items() %}
        <div class="sponsor--tier-block">
            <div class="sponsor--tier-heading">
                {{ k }}
            </div>
            <div class="sponsor--flex">
                {% for sponsor in v %}
                <a href="{{ sponsor.sponsor_link }}" class="sponsor--block">
                    <img src="{{ sponsor.sponsor_image }}" alt="{{ sponsor.sponsor_name }}" class="sponsor--image">
                </a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if doc.community_partners %}
    <div class="community-partners-sections my-3">
        <div class="sponsor--tier-block">
            <h5>Community Partners</h5>
            <div class="sponsor--flex">
                {% for partner in doc.community_partners %}
                <a href="{{ partner.organization_website }}" class="sponsor--block">
                    <img src="{{ partner.company_logo }}" alt="{{ partner.organization_name }}" class="sponsor--image">
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if doc.event_members %}
    <div class="event-members-section my-3">
        <h5>Event Members</h5>
        <div class="event--members-block">
            {% from 'fossunited/templates/macros/member_card.html' import member_card %}
            <div class="members-grid-6">
                {% for volunteer in volunteers %}
                    {{ member_card(volunteer) }}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endmacro %}

{% macro render_speakers() %}
<div class="event-content-div content-div" id="speakers">
    <div class="speakers-section my-3">
        <h5>Speakers</h5>
        {% if speakers %}
        <div class="speakers-grid">
            {% from 'fossunited/templates/macros/foss_tags.html' import tag %}
            {% for speaker in speakers %}
            <a class="speaker-card" href="/{{ speaker.route }}">
                <img src="{{ speaker.profile_picture }}" alt="{{ speaker.full_name }}" class="speaker--image">
                <div class="speaker--details">
                    <div class="speaker--name">{{ speaker.full_name }}</div>
                    <div class="speaker--talk-title">{{ speaker.talk_title }}</div>
                </div>
                <div class="speaker--talk-category">
                    {{ tag(speaker.talk_category, font_size="var(--text-sm)", color='hsl(var(--clr-foss-mint-600))', background='hsl(var(--clr-foss-mint-100))') }}
                </div>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="my-4">
            No Speakers Announced Yet
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_rsvp() %}
<div class="event-content-div content-div" id="rsvp">
    <div class="rsvp-section my-3">
        <h5>RSVP</h5>
        {% from 'fossunited/templates/macros/status_block_event.html' import status_block %}
        {{ status_block(rsvp_status_block, doc.name) }}
    </div>
</div>
{% endmacro %}

{% macro render_cfp() %}
<div class="event-content-div content-div" id="cfp">
    <div class="cfp-section my-3">
        <h5>CFP</h5>
        {% from 'fossunited/templates/macros/status_block_event.html' import status_block %}
        {{ status_block(cfp_status_block, doc.name) }}
        {% if user_cfp_submissions %}
        <div class="submitted-proposals-section">
            <h5>Submitted Proposals</h5>
            <div class="submitted-proposals-list">
                {% for proposal in user_cfp_submissions %}
                <div onClick="window.location.href='/{{proposal.route}}'" class="cfp-submission-card">
                    <div class="cfp-submission-left">
                        <div class="cfp-submission--title-status">
                            <div class="submission--title">{{ proposal.talk_title }}</div>
                            <div class="submission--status">{{ proposal.status | make_badge }}</div>
                        </div>
                        <div class="submission--category-time">
                            <div class="submission--category">
                                <i class="ti ti-hash"></i>
                                <span>
                                    {{ proposal.category }}
                                </span>
                            </div>
                            <div class="submission--time">
                                <i class="ti ti-hourglass-low"></i>
                                <span>
                                    {{ proposal.talk_duration }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <button class="dark-button" onClick="event.stopPropagation(); window.location.href='/{{proposal.route}}/edit'">Edit CFP</button>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if recent_cfp_submissions %}
        <div class="recent-submissions-section">
            <h5>Recent Proposals</h5>
            <div class="recent-proposals-grid">
                {% for proposal in recent_cfp_submissions %}
                <div onClick="window.location.href='/{{proposal.route}}'" class="recent-proposal-card">
                    <div class="d-flex flex-column w-100 ">
                        <div class="recent-proposal--status">
                            {{ proposal.status | make_badge }}
                        </div>
                        <div class="recent-proposal--title">
                            {{ proposal.talk_title }}
                        </div>
                    </div>
                    <div class="submission--category-time">
                        <div class="submission--category">
                            <i class="ti ti-hash"></i>
                            <span>
                                {{ proposal.category }}
                            </span>
                        </div>
                        <div class="submission--time">
                            <i class="ti ti-hourglass-low"></i>
                            <span>
                                {{ proposal.talk_duration }}
                            </span>
                        </div>
                    </div>
                    {% if proposal.status == 'Approved' %}
                    <a href="/{{proposal.user_route}}" class="speaker-card p-0">
                        <img src="{{ proposal.profile_picture }}" alt="{{ proposal.full_name }}" class="speaker--image">
                        <div class="speaker--details">
                            <div class="speaker--name">{{ proposal.full_name }}</div>
                            <div class="speaker--talk-title">{{ proposal.talk_title }}</div>
                        </div>
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_schedule() %}
<div class="event-content-div content-div" id="schedule">
    <div class="schedule-section my-3">
        <h5>Schedule</h5>
        <div class="my-3">
            Schedule Not Available Yet.
        </div>
    </div>
</div>
{% endmacro%}

{% block page_script %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock %}
