.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
docs/site/*
fossunited/public/dist
/fossunited/public/css/styles.css
/fossunited/public/dashboard
/fossunited/public/frontend
/fossunited/www/dashboard.html
