include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include fossunited *.css
recursive-include fossunited *.csv
recursive-include fossunited *.html
recursive-include fossunited *.ico
recursive-include fossunited *.js
recursive-include fossunited *.json
recursive-include fossunited *.md
recursive-include fossunited *.png
recursive-include fossunited *.py
recursive-include fossunited *.svg
recursive-include fossunited *.txt
recursive-exclude fossunited *.pyc