<style>
  .team-list-section {
    display: flex;
    font-family: Inter;
  }

  .team-list-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 6rem 0rem 6rem 0rem;
  }

  .team-section {
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }

  .team-list-container h4 {
    color: hsl(var(--clr-foss-mint-500));
    letter-spacing: -0.08rem;
    font-weight: var(--fw-semibold);
  }

  .member-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .teams-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
    column-gap: 5rem;
  }

  .team-member {
    display: flex;
    gap: 3rem;

    align-items: center;
  }

  .team-member-image {
    display: flex;
    justify-content: center;
    max-width: 5rem;
  }

  .team-member-image img {
    max-width: 5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }

  .team-member-details {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .team-member-details h6 {
    font-size: var(--text-xl);
    font-weight: var(--fw-semibold);
  }

  .team-member-details a {
    color: hsl(var(--clr-foss-mint-500));
    font-size: var(--text-sm);
    font-weight: var(--fw-medium);
  }

  .team-member-details p {
    color: hsl(var(--clr-gray-500));
    font-size: var(--text-sm);
    font-weight: 500;
  }

  @media (max-width: 768px) {
    .teams-container {
      grid-template-columns: 1fr;
    }
  }
</style>

<div class="team-list-section container">
  <div class="team-list-container">
    <h4>Meet the Workforce</h4>

    <div class="team-section">
      {%
        set boardMembers = frappe.get_all("FOSS United Team", fields=["full_name", "username",
        "headshot", "user_bio", "designation"], filters={"org_role": "Board", "is_active": 1},
        order_by="full_name")
      %}
      {% if boardMembers %}
        <div class="member-section">
          <h5>Board</h5>
          <div class="teams-container">
            {% for member in boardMembers %}
              <div class="team-member">
                <div class="team-member-image">
                  <img
                    src="{{ member.headshot if member.headshot else 'assets/fossunited/images/defaults/user_profile_image.png' }}"
                    alt="{{ member.full_name }}"
                  />
                </div>
                <div class="team-member-details">
                  <h6>{{ member.full_name }}</h6>
                  <a href="/{{ member.username }}">@{{ member.username }}</a>
                  <p>{{ member.designation }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {%
        set staff = frappe.get_all("FOSS United Team", fields=["full_name",
        "username", "headshot", "user_bio", "designation"], filters={"is_active": 1, "org_role":
        ["in", ["Full-Time", "Part-Time"]]}, order_by ='full_name')
      %}
      {% if staff %}
        <div class="member-section">
          <h5>Full-time and Part-time Staff</h5>
          <div class="teams-container">
            {% for member in staff %}
              <div class="team-member">
                <div class="team-member-image">
                  <img
                    src="{{ member.headshot if member.headshot else 'assets/fossunited/images/defaults/user_profile_image.png' }}"
                    alt="{{ member.full_name }}"
                  />
                </div>
                <div class="team-member-details">
                  <h6>{{ member.full_name }}</h6>
                  <a href="/{{ member.username }}">@{{ member.username }}</a>
                  <p>{{ member.designation }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {%
        set fellowsInterns = frappe.get_all("FOSS United Team", fields=["full_name",
        "username", "headshot", "user_bio", "designation"], filters={"is_active": 1, "org_role":
        ["in", ["Fellow", "Intern"]]}, order_by ='full_name')
      %}
      {% if fellowsInterns %}
        <div class="member-section">
          <h5>Fellows and Interns</h5>
          <div class="teams-container">
            {% for member in fellowsInterns %}
              <div class="team-member">
                <div class="team-member-image">
                  <img
                    src="{{ member.headshot if member.headshot else 'assets/fossunited/images/defaults/user_profile_image.png' }}"
                    alt="{{ member.full_name }}"
                  />
                </div>
                <div class="team-member-details">
                  <h6>{{ member.full_name }}</h6>
                  <a href="/{{ member.username }}">@{{ member.username }}</a>
                  <p>{{ member.designation }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {%
        set volunteers = frappe.get_all("FOSS United Team", fields=["full_name",
        "username", "headshot", "user_bio", "designation"], filters={"is_active": 1, "org_role":
        "Volunteer"}, order_by ='full_name')
      %}
      {% if volunteers %}
        <div class="member-section">
          <h5>Active and Part-time Volunteers</h5>
          <div class="teams-container">
            {% for member in volunteers %}
              <div class="team-member">
                <div class="team-member-image">
                  <img
                    src="{{ member.headshot if member.headshot else 'assets/fossunited/images/defaults/user_profile_image.png' }}"
                    alt="{{ member.full_name }}"
                  />
                </div>
                <div class="team-member-details">
                  <h6>{{ member.full_name }}</h6>
                  <a href="/{{ member.username }}">@{{ member.username }}</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
