<style>
  .roles-section {
    display: flex;
    font-family: Inter;
    background: #f5f5f5;
  }

  .roles-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 6rem 0rem 4rem 0rem;
  }

  h2 {
    margin: 0;
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%; /* 1.5rem */
    letter-spacing: -0.06rem;
  }

  .role-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
  }

  .role-card {
    display: flex;
    padding: 1.88rem;
    border-radius: 0.5rem;
    background: #fff;
    flex-direction: column;
    gap: 2rem;
  }

  .role-card-header h5 {
    color: #22b34f;
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 105%;
    letter-spacing: -0.07rem;
  }

  .role-card-footer {
    display: flex;
    justify-content: flex-end;
  }

  .role-card-footer img {
    max-height: 2.5rem;
  }

  @media (max-width: 768px) {
    .roles-section {
      flex-direction: column;
      gap: 2.5rem;
      padding: 1rem;
    }

    .roles-container {
      padding: 4rem 0rem 0rem 0rem;
      gap: 3rem;
    }

    .role-card-container {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .role-card-header h5 {
      font-size: 1.2rem;
    }
  }
</style>

<div class="roles-section container">
  <div class="roles-container">
    <h2>Roles of the Lead</h2>

    <div class="role-card-container">
      {% for index in range(1, 7) %}
        {% set role_title = values['role_' + index|string ] %}
        {%
          set
          role_icon = values['role_' + index|string + '_icon']
        %}
        {% if role_title %}
          <div class="role-card">
            <div class="role-card-header">
              <h5>{{ role_title }}</h5>
            </div>

            <div class="role-card-footer">
              <img src="{{ role_icon }}" alt="" />
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
