{% extends "templates/grants_details.html" %}

{% set show_count = true %}

{% block head_include %}
{{ super() }}
<link rel="alternate" type="application/rss+xml" title="FOSS United Grantees" href="/grants/grantees/rss.xml" />
{% endblock %}

{% block action_buttons %}
  <a href="/grants/projects" class="btn btn-outline-secondary mr-2 mb-2">
    <i class="ti ti-device-imac-code"></i> Project Grants
  </a>
  <a href="/grants/events" class="btn btn-outline-secondary mr-2 mb-2">
    <i class="ti ti-building-circus"></i> Event Grants
  </a>
  <a href="/grants/fellowships" class="btn btn-outline-secondary mr-2 mb-2">
    <i class="ti ti-heart-handshake"></i> Fellowships
  </a>
  <a href="/grants/grantees/rss.xml" class="btn btn-outline-secondary mr-2 mb-2" title="RSS Feed">
    <i class="ti ti-rss"></i> RSS
  </a>
{% endblock %}
