<style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

    .hero {
        display: flex;
        flex-direction: column;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .hero-title {
        font-family: 'Press Start 2P', cursive;
        font-size: 2rem;
        color: black;
    }

    .hero-icon {
        height: 4rem;
        width: auto;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-buttons{
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
    }

    .hero-buttons>a:hover{
        color: #eef;
        opacity: 0.8;
        text-decoration: none;
    }

    .button{
        display: flex;
        width: 240px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 10px;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .primary-button{
        background-color: #4BA306;
        color: white;
    }

    .secondary-button{
        background-color: black;
        color: white;
    }

    .btn-icon{
        height: 16px;
        width: auto;
    }

    @media screen and (max-width: 768px) {
        .hero-title{
            font-size: 1.6rem;
        }
        
        .hero-icon {
            height: 3rem;
            width: auto;
        }
        .content{
            font-size: 16px;
        }

        .button{
            width: 200px;
            font-size: 14px;
        }
    }

</style>

<div class="hero {{ 'align-center' if align == 'Center' else '' }}">
    <div class="hero-content">
        {%- if icon -%}
        <img class="hero-icon" src="{{ icon }}" alt="Icon">
        {%- endif -%}
        <h1 class="hero-title">{{ _(title) }}</h1>
        {%- if subtitle -%}
        <p class="hero-subtitle">
            {{ _(subtitle) }}
        </p>
        {%- endif -%}
        {%- if primary_button_url or secondary_button_url -%}
        <div class="hero-buttons">
            {%- if primary_button_url -%}
            <a class="button primary-button" href="{{ primary_button_url }}">
                {% if primary_button_icon_align == "Left" and primary_button_icon %}
                <img class="btn-icon" src="{{ primary_button_icon }}" alt="Primary Icon">
                {% endif %}
                {{ _(primary_button_label) }}
                {% if primary_button_icon_align == "Right" and primary_button_icon %}
                <img class="btn-icon" src="{{ primary_button_icon }}" alt="Primary Icon">
                {% endif %}
            </a>
            {%- endif -%}
            {%- if secondary_button_url -%}
            <a class="button secondary-button" href="{{ secondary_button_url }}">
                {% if secondary_button_icon_align == "Left" and secondary_button_icon %}
                <img class="btn-icon" src="{{ secondary_button_icon }}" alt="Secondary Icon">
                {% endif %}
                {{ _(secondary_button_label) }}
                {% if secondary_button_icon_align == "Right" and secondary_button_icon %}
                <img class="btn-icon" src="{{ secondary_button_icon }}" alt="Secondary Icon">
                {% endif %}
            </a>
            {%- endif -%}
        </div>
        {%- endif -%}
    </div>
</div>