.md-content h2::before,
.md-content h3::before,
.md-content h4::before,
.md-content h5::before,
.md-content h6::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--md-default-fg-color--light);
  margin-bottom: 1.2rem;
}

.md-content h1,
.md-content h2,
.md-content h3,
.md-content h4,
.md-content h5,
.md-content h6 {
  color: var(--md-primary-bg--dark);
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

.md-nav__link {
    padding-bottom: 10px;
}

.md-content p,
.md-content ul,
.md-content ol {
  line-height: 1.6;
  margin-bottom: 1em;
}
