{% extends "templates/foss_base.html" %}
{% block title %} {{ _("Your Payment Was Successful!") }}{% endblock %}
{% block page_content %}
<div id="payment-success-page">
  <div class="payment-success">
    <div id="success-icon-div">
      <svg class="success-icon container-center icon">
        <use href="#icon-solid-success"></use>
      </svg>
    </div>
    <div class="text-center">
      <h5>
        {{ _("Your Payment Was Successful!") }}
      </h5>
      <div class="mb-2">
        <br />
        You will receive a copy of your ticket on your email.
        <br />
        See you at the Event!
        <br />
        <br />
        <span>
          <b class="footer">
            <i>"May the FOSS be with you!!"</i>
          </b>
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block page_script %}
<script>
  $(document).ready(() => {
    setTimeout(() => {
      window.location.href = '/{{frappe.form_dict["redirect-to"]}}'
    }, 3000);
  });
</script>
{% endblock %}
{% block page_style %}
<style>
  #payment-success-page {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0.625rem 0.625rem;
  }

  .payment-success {
    width: 37.5rem;
    background-color: #f4faee;
    margin: 0.9375rem;
    border-radius: 0.625rem;
    padding: 1.25rem 1.25rem;
  }

  p {
    margin: auto;
    font-size: 1.25rem;
    width: 37.5rem;
  }

  #success-icon-div {
    width: auto;
  }

  .success-icon {
    height: 6.25rem;
    width: 6.25rem;
    padding: 0.9375rem 0px;
  }

  .footer {
    color: #08b74f;
  }

  @media (min-width: 320px) and (max-width: 475px) {
    #payment-success-page {
      width: auto;
      margin: 1.5625rem 1.5625rem;
      justify-content: center;
      align-items: center;
    }
    .payment-success {
      width: 31.25rem;
      margin: auto;
      border-radius: 0.625rem;
    }
    #success-icon-div {
      width: auto;
      margin: auto;
      display: flex;
      justify-content: center;
    }
    .success-icon {
      height: 3.125rem;
      width: 3.125rem;
      margin: auto;
      padding: 0.3125rem 0px;
    }
    p {
      width: auto;
      margin: auto;
      justify-content: center;
      font-size: 0.9375rem;
    }
  }

  @media (min-width: 475px) and (max-width: 768px) {
    #payment-success-page {
      width: auto;
      margin: 1.5625rem 1.5625rem;
      justify-content: center;
      align-items: center;
    }
    .payment-success {
      width: 31.25rem;
      margin: auto;
      border-radius: 0.625rem;
    }
    #success-icon-div {
      width: auto;
      margin: auto;
      display: flex;
      justify-content: center;
    }
    .success-icon {
      height: 4.375rem;
      width: 4.375rem;
      margin: auto;
      padding: 0.625rem 0px;
    }
    p {
      width: auto;
      margin: auto;
      justify-content: center;
      font-size: 1.125rem;
    }
  }
</style>
{% endblock %}
