@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';
.PopoverContent {
    /* issue with frappe-ui reka-ui, it has z-index due to AutoComplete being used in Drawer*/
    /* we can either reduce z of drawer or increase popover     */
  z-index: 999 !important;
}

/* for sendtestdialog.vue to appear over email drawer*/
.dialog-overlay {
  z-index: 999 !important;
}

.dialog-content {
  z-index: 999 !important;
}

[data-theme="dark"] body,
[data-theme="dark"] #app {
  background-color: var(--surface-menu-bar);
  color: var(--ink-gray-8);
}
