{% extends 'templates/foss_base.html' %}

{% block title %}
    Create FOSS Profile
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="foss-form-wrapper">
            <div class="form-heading-section">
                <img class="form-page-icon" src="assets/fossunited/images/defaults/user_profile_image.png" alt="">
                <h1 class="fff-forward form-page-heading mt-3">CREATE YOUR FOSS PROFILE</h1>
            </div>
            <div class="form-container">
                <form>
                    <div class="form-col-2">
                        <div class="form-group">
                            <label class="form-label field-title" for="signup_fullname">Full Name<sup><i class="ti ti-asterisk" style="color:red;"></i></sup></label>
                            <input type="text" id="fullname" class="form-control" value="{{ full_name }}" readonly>
                        </div>
                        <div class="form-group">
                            <label class="form-label field-title" for="signup_email">Email<sup><i class="ti ti-asterisk" style="color:red;"></i></sup></label>
                            <input type="email" id="email" class="form-control" value="{{ email }}" readonly>
                        </div>
                    </div>
                    <hr>
                    <div class="form-col-2 mb-2">
                        <div class="form-group d-flex flex-column ">
                            <label class="form-label field-title" for="username">Username<sup><i class="ti ti-asterisk" style="color:red;"></i></sup> </label>
                            <input class="form-control" type="text" name="username" id="username" required>
                            <div id="username-status" class="mt-2" style="font-size: var(--text-sm);">
                                Start typing to check availability.
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label field-title" for="gender">Gender</label>
                            {% set genders = frappe.get_all("Gender", pluck="name") %}
                            <div class="control-input flex align-center">
                                <select name="gender" id="gender" class="input-with-feedback form-control form-select">
                                    {% for gender in genders %}
                                    <option value="{{ gender}}" {% if loop.first %}selected{% endif %} >{{ gender }}</option>
                                    {% endfor %}
                                </select>
                                <i class="ti ti-selector" style="left: -1.5rem; position: relative;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group my-2 d-flex flex-column">
                        <label class="form-label field-title" for="bio">Brief Bio</label>
                        <input class="form-control" type="text" id="bio">
                        <small class="my-2">Short bio about yourself</small>
                    </div>
                    <div class="d-flex flex-row-reverse my-2">
                        <button class="primary-button" id="create-foss-profile" style="font-size: var(--text-sm)" disabled>Create FOSS Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_script %}
    <script>
        $(document).ready(()=>{
            $('#create-foss-profile').attr('disabled', true).removeClass('primary-button');
            showUsernameStatus();
            $('#username').on('input', () => {
                let status = showUsernameStatus();
                if (status[0]){
                    $('#create-foss-profile').prop('disabled', false).addClass('primary-button');
                }
                else{
                    $('#create-foss-profile').prop('disabled', true).removeClass('primary-button');
                }
            });

            $('#create-foss-profile').on('click', (e) =>{
                e.preventDefault();
                createFossProfile();
            });
        });

        function createFossProfile(){
            let username = $('#username').val();
            let gender = $('#gender').val();
            let bio = $('#bio').val();

            // Set gender in the User Doctype
            frappe.call({
                method: 'frappe.client.set_value',
                args: {
                    doctype: 'User',
                    name: frappe.session.user,
                    fieldname: 'gender',
                    value: gender,
                }
            })

            // Create FOSS Profile
            frappe.call({
                method: 'fossunited.fossunited.utils.create_foss_profile',
                args: {
                    'user': frappe.session.user,
                    'username': username,
                    'fields': {
                        "bio": bio,
                    }
                },
                callback: (r)=>{
                    frappe.msgprint("Your FOSS Profile has been created successfully! Redirecting to your profile.", "Success!", indicator = "green");
                    setTimeout(() => {
                        window.location.reload()
                    }, 2000);
                },
                error: (e)=>{
                    frappe.msgprint("An error occurred while creating your FOSS Profile. Please try again later." + e.message, "Error");
                }
            })
        }

        function showUsernameStatus(){
            let username = $('#username').val();
            let messages = [
                "Username must be at least 3 characters long.",
                "Username can only contain letters, numbers, underscores and dots.",
                "Username is available.",
                "Username is not available.",
                "Start typing to check availability."
            ]
            if(username.length > 0){
                if (username.length < 3) {
                    $('#username-status').html(messages[0]);
                    $('#username-status').css("color", "red");
                    return [false, messages[0]];
                }
                if(!/^[a-zA-Z0-9_\.]+$/.test(username)){
                    $('#username-status').html(messages[1]);
                    $('#username-status').css("color", "red");
                    return [false, messages[1]];
                }
                frappe.call({
                    method: "fossunited.fossunited.utils.check_username_availability",
                    args: {
                        username: username,
                    },
                    callback: function(r) {
                        if(!r.message){
                            $('#username-status').html(messages[2]);
                            $('#username-status').css("color", "green");
                            return [true, messages[2]];
                        }else{
                            $('#username-status').html(messages[3]);
                            $('#username-status').css("color", "red");
                            return [false, messages[3]];
                        }
                    }
                });
                return [true, messages[2]];
            }
            else{
                $('#username-status').html(messages[4]);
                $('#username-status').css("color", "inherit");
                return [false, messages[4]];
            }
        }
    </script>
{% endblock %}
