{% extends "templates/foss_base.html" %}
{% block page_content %}

<section id="header" class="py-5">
  <div class="container">

    <div class="mt-5 d-flex flex-column justify-content-center text-center">

      <div class="d-flex justify-content-center mb-3">
        <img height="150" width="150"
             src="/assets/fossunited/icons/newsletter.svg"
             alt="Newsletter icon">
      </div>

      <h1 class="press2p mb-3">The FOSS United Newsletter</h1>

      <p class="mx-auto" style="max-width:900px">
        Monthly digest of the latest news and updates about FOSS grants,
        events and mon school. Subscribe to stay updated and get news
        from us directly in your inbox.
      </p>

    </div>

    <div id="subscribe-section" class="d-flex flex-column flex-md-row justify-content-center my-5">

      <input
        id="email"
        class="form-control mr-md-2 mb-2 mb-md-0"
        style="max-width:360px"
        type="email"
        placeholder="johndoe@example.com"
        name="email_address"
      />

      <button id="subscribe" class="btn btn-success">
        Subscribe
      </button>

    </div>

  </div>
</section>


<section id="newsletters-list" class="py-5">
  <div class="container text-center" style="max-width:1000px">

    <h4 class="mb-4">Past Newsletters</h4>

    <div class="row justify-content-center">

      {% for newsletter in newsletters %}

      <a
        href="{{ frappe.get_url() }}/{{ newsletter.route }}"
        class="col-md-3 m-3 p-4 text-center bg-light text-success rounded"
      >
        {{ newsletter.subject }}
      </a>

      {% endfor %}

    </div>

  </div>
</section>


<section id="footer-cta" class="py-5">
  <div class="container text-center bg-light p-5 rounded">

    <h4>Connect with us</h4>
    <p>Drop a message in our telegram group.</p>

    <a
      class="btn btn-success"
      href="https://t.me/fossunited"
    >
      Get in touch
    </a>

  </div>
</section>


<section id="subscribed-page" class="text-center py-5" style="display:none;">

  <svg class="mb-4" width="100" height="100">
    <use href="#icon-solid-success"></use>
  </svg>

  <p class="mx-auto" style="max-width:500px">
    You are subscribed to our newsletter! You will be receiving updates every
    month about FOSS and FOSS United.
  </p>

</section>


<script src="/newsletter/index.js"></script>

{% endblock %}