{% extends "templates/foss_base.html" %} {% block page_content %}
<section>
  <div class="newsletter-home-page">
    <div class="text-content">
      <h1>FOSS United Newsletter</h1>
      <p>
        Monthly digest of the latest news and updates about FOSS
        grants, events and mon school. Subscribe to stay updated and get news
        from us directly in your inbox.
      </p>
    </div>
    <div class="subscribe-section">
      <input
        id="email"
        type="email"
        placeholder="Enter your E-mail Address"
        name="email_address"
      />
      <button id="subscribe-button">Subscribe</button>
    </div>
    <div class="news-icon">
      <img src="/assets/fossunited/icons/newsletter.svg" />
    </div>
  </div>
</section>
<section id="past-news">
  <div>
    <div class="newsletter-list container">
      <h4 class="text-left">Past Newsletters</h4>
      <ul class="news m-auto list-unstyled row">
        {% for newsletter in newsletters %} {% if newsletter.email_sent_at !=
        "None" %}
        <div id="news-details">
          <p>{{ newsletter.email_sent_at }}</p>
          <h6 class="">{{ newsletter.subject }}</h6>
          <a href="{{ frappe.get_url() }}/{{ newsletter.route }}"
            >View Edition</a
          >
        </div>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
</section>
<section id="footer">
  <div class="base-container container-center m-auto">
    <div id="cta-container" class="text-center">
      <h4>Get in Touch</h4>
      <p>
        Write to us at foundation@fossunited.org or send us a message on the
        forum. <br />For event sponsorship, write to us at
        <a href="mailto:grants@fossunited.org">grants@fossunited.org</a>.
        <br />Join our
        <a href="https://t.me/fossunited" alt="@fossunited telegram">
          Telegram Community</a
        >.
      </p>
    </div>
  </div>
</section>
<section id="subscribed-page">
  <div id="success d-flex">
    <div id="success-wrapper">
      <div id="success-icon-div">
        <svg class="success-icon container-center icon">
          <use href="#icon-solid-success"></use>
        </svg>
      </div>
      <div class="text-center">
        <p>
          You are subscribed to our newsletter! You will be receiving updates
          every month about FOSS and FOSS United.
        </p>
      </div>
    </div>
  </div>
</section>

<script src="/newsletter/index.js" type="text/javascript"></script>
<style>
  .newsletter-home-page {
    display: inline-flex;
    padding: 6.6875rem 20rem 0rem 20rem;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    align-items: center;
    gap: 2.5rem;
    height: auto;
    background: #f5f5f5;
  }

  .text-content {
    text-align: center;
  }

  .text-content h1 {
    color: hsl(var(--clr-code-night-900));
    text-align: center;
    font-family: Inter;
    font-size: var(--text-4xl);
    font-style: normal;
    font-weight: 700;
    line-height: 2.75rem;
    /* 110% */
    letter-spacing: -0.1rem;
  }

  .subscribe-section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  #email {
    display: flex;
    width: 25rem;
    height: 2.5rem;
    padding: 0.6875rem 0.75rem;
    align-items: center;
    gap: 0.875rem;
    border-radius: 0.5rem;
    border: hsl(var(--clr-gray-900));
    background: hsl(var(--clr-gray-50));
  }

  #subscribe-button {
    display: flex;
    width: 9.125rem;
    height: 2.5rem;
    padding: 0.625rem 0.75rem;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background: hsl(var(--clr-foss-mint-500));
  }

  .news-icon img {
    display: flex;
    width: 28rem;
    height: 22rem;

    justify-content: center;
    align-items: center;
  }

  #past-news {
    margin: auto;
    width: auto;
  }

  .newsletter-list {
    display: inline-flex;
    padding: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
    margin: auto;
  }

  .newsletter-list h4 {
    width: 100%;
  }

  .news {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: auto;
  }

  #news-details {
    width: 320px;
    height: auto;
    gap: 12px;
    padding: 1rem 1rem;
    margin: 15px;
    border-radius: 8px;
    flex-wrap: wrap;
    border: 0.5px solid hsl(var(--clr-gray-400));
  }

  #news-details h6 {
    height: 45px;
    font-size: var(--text-lg);
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 21.6px */
  }

  #news-details a {
    color: hsl(var(--clr-foss-mint-500));
    font-size: var(--text-sm);
    line-height: 12px;
    margin-bottom: 2rem;
  }

  .news-icon {
    display: flex;
    margin: auto;
  }

  #success {
    margin: auto;
    width: 500px;
  }

  #success-icon-div {
    height: 200px;
    width: 500px;
  }

  .success-icon {
    margin-bottom: -60px !important;
    width: 100px !important;
    height: 250px !important;
  }

  div#success-wrapper {
    display: flex;
    height: 100vh;
    width: 500px;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #subscribed-page {
    display: none;
  }

  .subscribed-page-show {
    display: block;
  }

  #footer {
    background: hsl(var(--clr-gray-100));
    padding: 1.5rem 1.5rem;
  }

  #cta-container h4 {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-size: var(--text-3xl);
    font-style: normal;
    padding: 20px 20px;
    gap: 30px;
    font-weight: 600;
    line-height: 100%;
    /* 40px */
  }

  #cta-container {
    align-self: stretch;
    font-size: var(--text-lg);
  }

  @media (min-width: 320px) and (max-width: 375px) {
    .newsletter-home-page {
      padding: 6.6875rem 0.5rem 0rem 0.5rem;
      gap: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }

    #newsletter-body {
      gap: 5rem;
    }

    .header-text {
      text-align: center;
      max-width: 800px;
    }

    .header-text h1 {
      font-size: var(--text-3xl);
      margin: 0rem 0rem 0.5rem 0rem;
    }

    .subscribe {
      gap: 0.875rem;
    }

    #email {
      width: 25rem;
      height: 2.5rem;
    }

    .subscribe-button:hover {
      background-color: hsl(var(--clr-foss-mint-500));
    }

    .text-content h1 {
      font-size: var(--text-2xl);
    }

    .text-content p {
      font-size: var(--text-sm);
      padding: 0.5rem;
    }

    .news-icon img {
      position: relative;
      bottom: 0;
      height: 10rem;
      width: auto;
    }

    .subscribe-section {
      flex-direction: column;
    }

    #email {
      width: 12rem;
      font-size: var(--text-xs);
    }

    #subscribe-button {
      width: 5.125rem;
      height: 2rem;
      padding: 0.625rem 0.75rem;
      font-size: var(--text-xs);
    }

    #past-news h4 {
      font-size: var(--text-lg);
      padding: 0.595rem;
    }

    .newsletter-list {
      max-width: 400px;
      padding: 0.25rem;
      margin-top: 0.5rem;
      gap: 0;
    }

    .news {
      display: flex;
      justify-content: center;
    }

    #cta-container h4 {
      font-size: var(--text-base);
    }

    #cta-container p {
      font-size: var(--text-sm);
    }
  }

  @media (min-width: 376px) and (max-width: 475px) {
    .newsletter-home-page {
      padding: 6.6875rem 0.5rem 0rem 0.5rem;
      gap: 2rem;
    }

    .text-content h1 {
      font-size: var(--text-2xl);
    }

    .text-content p {
      font-size: var(--text-sm);
      padding: 0.5rem;
    }

    .news-icon img {
      height: 12rem;
      width: auto;
    }

    .subscribe-section {
      flex-direction: column;
    }

    #email {
      width: 15rem;
      font-size: var(--text-xs);
    }

    #subscribe-button {
      width: 5.125rem;
      height: 2rem;
      padding: 0.625rem 0.75rem;
      font-size: var(--text-xs);
    }

    #past-news h4 {
      font-size: var(--text-2xl);
      padding: 0.595rem;
    }

    .newsletter-list {
      margin: auto;
      width: auto;
      padding: 0.25rem;
      gap: 0;
    }

    .news {
      display: flex;
      justify-content: center !important;
      align-items: center;
    }

    .news-details {
      width: 20rem;
    }

    .news-icon {
      height: 12rem;
      width: auto;
    }

    #cta-container h4 {
      font-size: var(--text-lg);
    }

    #cta-container p {
      font-size: var(--text-base);
    }
  }

  @media (min-width: 475px) and (max-width: 576px) {
    .newsletter-home-page {
      padding: 6.6875rem 0.5rem 0rem 0.5rem;
      gap: 2rem;
    }

    .text-content h1 {
      font-size: var(--text-3xl);
    }

    .text-content p {
      font-size: var(--text-sm);
      padding: 0.5rem;
    }

    .news-icon img {
      height: 12rem;
      width: auto;
    }

    .subscribe-section {
      flex-direction: column;
    }

    #email {
      width: 17rem;
      font-size: var(--text-xs);
    }

    #subscribe-button {
      width: 5.125rem;
      height: 2rem;
      padding: 0.625rem 0.75rem;
      font-size: var(--text-xs);
    }

    #past-news h4 {
      font-size: var(--text-2xl);
      padding: 0.595rem;
    }

    .newsletter-list {
      margin: auto;
      max-width: 400px;
      padding: 0.25rem;
      padding-top: 0.5rem;
      gap: 0;
    }

    .subscribe-button {
      display: flex;
      width: 9.125rem;
      height: 2.5rem;
      padding: 0.625rem 0.75rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      color: white;
      border-radius: 0.5rem;
      background: hsl(var(--clr-foss-mint-500));
    }

    #past-news {
      margin: auto;
      width: auto;
    }

    .newsletter-list {
      display: inline-flex;
      padding: 2.5rem 6.25rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.875rem;
      width: 100%;
      padding: 40px 100px;
      margin: auto;
    }

    #news-details {
      width: 280px;
      height: 120px;
      padding: 15px;
      gap: 12px;
      padding: 12px 24px;
      margin: 15px;
      border-radius: 8px;
      flex-wrap: wrap;
      border: 0.5px solid hsl(var(--clr-gray-300));
    }

    #news-details h6 {
      height: 45px;
      font-size: var(--text-xl);
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
    }

    #news-details a {
      color: hsl(var(--clr-foss-mint-500));
      font-size: var(--text-sm);
      line-height: 12px;
      margin-bottom: 2rem;
    }

    .news-icon {
      display: flex;
      margin: auto;
    }

    #success {
      margin: auto;
      width: 500px;
    }

    #success-icon-div {
      height: 200px;
      width: 500px;
    }

    .success-icon {
      margin-bottom: -60px !important;
      width: 100px !important;
      height: 250px !important;
    }

    div#success-wrapper {
      display: flex;
      height: 100vh;
      width: 500px;
      margin: auto;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    #subscribed-page {
      display: none;
    }

    .subscribed-page-show {
      display: block;
    }

    #footer {
      background: hsl(var(--clr-gray-100));
      padding: 30px 100px;
    }

    #cta-container h4 {
      display: flex;
      flex-direction: column;
      font-family: Inter;
      font-size: var(--text-3xl);
      font-style: normal;
      padding: 20px 20px;
      gap: 30px;
      font-weight: 600;
      line-height: 100%;
    }

    #cta-container {
      align-self: stretch;
      font-size: var(--text-lg);
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    .newsletter-home-page {
      padding: 6.6875rem 0.5rem 0rem 0.5rem;
      gap: 2rem;
    }

    .text-content h1 {
      font-size: var(--text-3xl);
    }

    .text-content p {
      font-size: var(--text-sm);
      padding: 0.5rem;
    }

    .news-icon img {
      height: 12rem;
      width: auto;
    }

    .subscribe-section {
      flex-direction: row;
    }

    #email {
      width: 17rem;
      font-size: var(--text-xs);
    }

    #subscribe-button {
      width: 5.125rem;
      height: 2rem;
      padding: 0.625rem 0.75rem;
      font-size: var(--text-xs);
    }

    #past-news h4 {
      font-size: var(--text-2xl);
      padding: 0.595rem;
    }

    .newsletter-list {
      margin: auto;
      max-width: 900px;
      padding: 0.25rem;
      padding-top: 0.5rem;
      gap: 0;
    }

    .subscribe-button {
      display: flex;
      width: 9.125rem;
      height: 2.5rem;
      padding: 0.625rem 0.75rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      color: white;
      border-radius: 0.5rem;
      background: hsl(var(--clr-foss-mint-100));
    }

    #past-news {
      margin: auto;
      width: auto;
    }

    .newsletter-list {
      display: inline-flex;
      padding: 2.5rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.875rem;
      width: 100%;
      margin: auto;
    }

    #news-details {
      width: 280px;
      height: 120px;
      padding: 15px;
      gap: 12px;
      padding: 12px 24px;
      margin: 15px;
      border-radius: 8px;
      flex-wrap: wrap;
      border: 0.5px solid hsl(var(--clr-gray-300));
    }

    #news-details h6 {
      height: 45px;
      font-size: var(--text-xl);
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
    }

    #news-details a {
      color: hsl(var(--clr-foss-mint-500));
      font-size: var(--text-sm);
      line-height: 12px;
      margin-bottom: 2rem;
    }

    .news-icon {
      display: flex;
      margin: auto;
    }

    #success {
      margin: auto;
      width: 500px;
    }

    #success-icon-div {
      height: 200px;
      width: 500px;
    }

    .success-icon {
      margin-bottom: -60px !important;
      width: 100px !important;
      height: 250px !important;
    }

    div#success-wrapper {
      display: flex;
      height: 100vh;
      width: 500px;
      margin: auto;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    #subscribed-page {
      display: none;
    }

    .subscribed-page-show {
      display: block;
    }

    #footer {
      background: hsl(var(--clr-gray-100));
      padding: 30px 100px;
    }

    #cta-container h4 {
      display: flex;
      flex-direction: column;
      font-size: var(--text-3xl);
    }

    #cta-container {
      align-self: stretch;
      font-size: var(--text-base);
    }
  }
</style>
{% endblock %}
