{% extends "templates/foss_base.html" %}
{% block page_content %}
<section id="header" class="h-100">
  <div class="container">
    <div id="hero" class="mt-5 d-flex flex-column justify-content-center ">
      <div class="news-icon d-flex justify-content-center">
        <img height="150px" width="150px" src="/assets/fossunited/icons/newsletter.svg" />
      </div>
      <div id="hero" class="text-center">
        <h1 class="press2p">
          The FOSS United Newsletter
        </h1>
        <p>
        Monthly digest of the latest news and updates about FOSS grants, events and mon school. Subscribe to stay updated and get news from us directly in your inbox.
        </p>
      </div>
    </div>
    <div id="subscribe-section">
      <div class="container-center my-5 d-flex flex-column flex-md-row flex-lg-row">
        <div class="mr-2 py-3 ">
          <label for="email"></label>
          <input id="email" type="email" placeholder="johndoe@example.com" name="email_address" />
        </div>
        <div>
          <button id="subscribe">
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="newsletters-list">
  <div class="base-container container" style="max-width: 1000px">
    <h4 class="text-center">Past Newsletters</h4>
    <div>
      <ul class="m-auto py-8 list-unstyled gap-2 text-left row justify-content-center">
        {% for newsletter in newsletters %}
        <li id="news" class="py-4 text-center col-md-3 position-relative">
          {{ newsletter.subject }}
          <a class="stretched-link" href="{{ frappe.get_url() }}/{{ newsletter.route }}"></a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<section id="footer-cta">
  <div id="cta-container" class="base-container container-center h-full">
    <div id="cta">
      <div class="text-center">
        <h4>Connect with us</h4>
        <p>Drop a message in our telegram group.</p>
        <div>
          <button type="submit" id="telegram-channel">
            <a href="https://t.me/fossunited" alt="@fossunited telegram">Get in touch</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Subject to display Change -->
<section id="subscribed-page">
  <div id="success d-flex">
    <div id="success-wrapper">
      <div id="success-icon-div">
        <svg class="success-icon container-center icon"><use href="#icon-solid-success"></use></svg>
      </div>
      <div class="text-center ">
        <p>
        You are subscribed to our newsletter! You will be receiving updates every month about FOSS and FOSS United.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
#hero h1 {
  font-size: 40px;
}

.news-icon img {
  margin-bottom: -40px !important;
}

#hero p {
  margin: auto;
  width: auto;
  max-width: 900px;
  font-size: 20px;
}

.newsletter-icon img {
  margin-bottom: -50px !important;
}

#newsletters-list {
  margin: auto;
}
#email {
  border: 1px solid black;
  border-radius: 8px;
  width: 360px;
  height: 48px;
  padding-left: 10px;
}
#news {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 24px 48px;
  background: var(--gray-50, #F9FAFB);
  color: #08b74f;
  margin: 15px;
}
#news a {
  color: #08b74f;
  max-width: 500px;
}
p {
  padding: 0px 20px 0px 20px;
}
#subscribe {
  padding: 12px;
  color: white;
  font-style: bold;
  border-radius: 8px;
  border: 1px solid var(--primary-500, #03B051);
  background: var(--primary-500, #03B051);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}
#cta-container {
  border-radius: 16px;
  margin: auto;
  background: var(--gray-50, #F9FAFB);
}
#telegram-channel {
  border-radius: 8px;
  border: 1px solid var(--primary-500, #03B051);
  background: var(--primary-500, #03B051);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  padding: 12px;
}
#telegram-channel a {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  color: white;
  padding: 12px;
}
#success {
  margin: auto;
  width: 500px;
}
#success-icon-div {
  height: 200px;
  width: 500px;
}
.success-icon {
  margin-bottom: -60px !important;
  width: 100px !important;
  height: 250px !important;
}
div#success-wrapper {
  display: flex;
  height: 100vh;
  width: 500px;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#subscribed-page {
  display: none;
}
.subscribed-page-show {
  display: block;
}

  /* media queries */
  /* Header - Page 1 */
  @media (min-width: 320px) and (max-width: 425px) {
    .newsletter-icon img {
      height: 100px;
      width: 100px;
    }
    #hero h1 {
      font-size: 25px;
    }
    #hero p {
      font-size: 15px;
    }
    #email {
      height: 35px;
      width: 200px !important;
    }
    #email {
      font-size: 12px;
      padding-left: 8px;
    }
    #subscribe {
      font-size: 12px;
      padding: 8px;
    }
  }
  @media (min-width: 426px) and(max-width: 576px) {
    .newsletter-icon img {
      height: 100px;
      width: 100px;
    }
    #hero h1 {
      font-size: 30px;
    }
    #hero p {
      font-size: 18px;
    }
    #email {
      width: 230px !important;
    }
    #subscribe {
      font-size: 15px;
    }
  }
  @media (min-width: 577px) and(max-width: 768px) {
    #email {
      width: 280px;
    }
  }

  /* Middle Section - Past Newsletters */
  @media (min-width: 320px) and(max-width: 425px) {
    #news {
      padding: 24px;
      width: 300px;
      font-size: 14px;
    }

  }
  @media (min-width: 426px) and(max-width: 768px) {
    #news {
      padding: 24px 36px;
      width: 350px;
    }
  }

  /* Footer Section - CTA */
  @media (min-width: 320px) and (max-width: 425px) {
    #telegram-channel {
      padding: 10px;
    }
    #telegram-channel a {
      font-size: 15px;
    }
  }
</style>

<script src="/newsletter/index.js" type="text/javascript"></script>

{% endblock %}
