<style>
    .roles-parent{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-bottom: 40px;
    }

    .roles-flex{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 32px;
    }

    .role-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: end;
        gap: 8px;
    }

    .icon-container{
        display: flex;
        justify-content: center;
        align-items: end;
        width: 64px;
        height: 50px;
    }

</style>

<div class="roles-parent">
    <h2>
        {{ _("Roles of the lead") }}
    </h2>
    <div class="roles-flex">
        <div class="role-container">
            <div class="icon-container">
                {% include "public/icons/community-8bit.svg" %}
            </div>
            <div class="text-lg medium">
                {{ _("Build a Foss Community") }}
            </div>
        </div>
        <div class="role-container">
            <div class="icon-container">
                {% include "public/icons/code-8bit.svg" %}
            </div>
            <div class="text-lg medium">
                {{ _("Host events and workshops") }}
            </div>
        </div>
        <div class="role-container">
            <div class="icon-container">
                {% include "public/icons/hi-5-8bit.svg" %}
            </div>
            <div class="text-lg medium">
                {{ _("Build and maintain teams") }}
            </div>
        </div>
    </div>
</div>