<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.46.0/tabler-icons.min.css"
/>

<style>
  .project-grants-section {
    display: flex;
    font-family: Inter;
    flex-direction: column;
  }

  .project-grants-container {
    display: flex;
    padding: 3rem 0rem 3rem 0rem;
    flex-direction: column;
  }

  .project-grant-category {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .project-grant-card {
    display: flex;
    padding: 0rem;
    justify-content: flex-start;
    gap: 2rem;
    padding-left: 0;
    font-size: var(--text-base);
  }

  .project-logo {
    width: 64px;
    height: 64px;
    overflow: hidden;
    flex-shrink: 0;
    background: hsl(var(--clr-gray-100));
  }

  .grant-type-project {
    padding-bottom: 4rem;
  }

  .grant-type-project .project-logo {
    border-radius: 50%;
  }

  .grant-type-fellowship .project-logo {
    border-radius: 0.75rem;
  }

  .project-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project-details {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 60%;
  }

  .project-name {
    display: flex;
    align-items: flex-end;
  }

  .grant-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0rem;
  }

  .grant-detail-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: hsl(var(--clr-gray-50));
    justify-content: center;
    text-align: center;
  }

  .grant-details h6 {
    font-size: var(--text-sm);
    font-weight: var(--fw-medium);
  }

  .grant-detail-card p {
    font-size: var(--text-xs);
  }

  .year-divider {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0 2rem;
  }

  .year-divider hr {
    flex-grow: 1;
    border: none;
    border-top: 2px solid hsl(var(--clr-gray-300));
  }
</style>

{% macro render_grant_section(type, grants) %}
  {% if grants %}
    <div class="grant-type-{{ type|lower }}">
      <h4>{{ type }} Grants</h4>

      {%
        set years = grants
        | selectattr("date_of_provision")
        | map(attribute='date_of_provision.year')
        | list
        | unique
        | sort(reverse=true)
      %}

      {% for year in years %}
        <div class="year-divider">
          <h5>{{ year }}</h5>
          <hr />
        </div>

        <div class="project-grant-category">
          {% for grant in grants if grant.date_of_provision and grant.date_of_provision.year == year %}
            <div class="project-grant-card">
              {% if grant.project_logo %}
                <div class="project-logo">
                  <img src="{{ grant.project_logo }}" alt="{{ grant.project_name }}" />
                </div>
              {% endif %}

              <div class="project-details">
                {% if grant.project_website %}
                  <a class="project-name" href="{{ grant.project_website }}" target="_blank">
                    <h6>{{ grant.project_name }}</h6>
                    <i class="ti ti-arrow-up-right"></i>
                  </a>
                {% else %}
                  <div class="project-name">
                    <h6>{{ grant.project_name }}</h6>
                  </div>
                {% endif %}

                {% if grant.about_project %}
                  <p>{{ grant.about_project }}</p>
                {% endif %}
              </div>

              <div class="grant-details">
                {% if grant.date_of_provision %}
                  <div class="grant-detail-card">
                    <p>Grant Year</p>
                    <h6>{{ grant.date_of_provision.strftime("%Y") }}</h6>
                  </div>
                {% endif %}
                {% if grant.grant_amount %}
                  <div class="grant-detail-card">
                    <p>Grant Amt.</p>
                    <h6>₹ {{ grant.grant_amount }}</h6>
                  </div>
                {% endif %}
                {% if grant.co_sponsor %}
                  <div class="grant-detail-card">
                    <p>Co-Sponsor</p>
                    <h6>{{ grant.co_sponsor }}</h6>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

<div class="project-grants-section container">
  <div class="project-grants-container">
    {%
      set project_grants = frappe.get_all(
        "FOSS Project Grant",
        fields=[
          "project_name",
          "about_project",
          "project_website",
          "grant_amount",
          "co_sponsor",
          "date_of_provision",
          "grant_type",
          "project_logo"
        ],
        filters={"grant_status": "Approved"},
        order_by="date_of_provision desc"
      )
    %}
    {% set project_list = project_grants | selectattr("grant_type", "equalto", "Project") | list %}
    {% set fellowship_list = project_grants | selectattr("grant_type", "equalto", "Fellowship") | list %}

    {{ render_grant_section("Project", project_list) }}
    {{ render_grant_section("Fellowship", fellowship_list) }}
  </div>
</div>
