{% macro horizontal_navbar(nav_items) %}
  <div class="horizontal-navbar" role="tablist" aria-label="Page sections">
    {% for item in nav_items %}
      <button
        type="button"
        class="horizontal-navbar--item"
        name="{{ item }}-nav-item"
        id="{{ item }}-nav-item"
        role="tab"
        tabindex="-1"
        aria-selected="false"
        aria-controls="{{ item }}"
      >
        {% if item in ['rsvp', 'cfp'] %}
          {{ item | replace('_', ' ') | upper }}
        {%
            elif item ==
            'issue_pr'
          %}
          {{ _("Issues / PRs") }}
        {% else %}
          {{ item | replace('_', ' ') | title }}
        {% endif %}
      </button>
    {% endfor %}
  </div>
{% endmacro %}
