{% macro ics_download(event_ids, filename, chapter='', btn_id=None, btn_class='btn btn-sm btn-secondary', fn_name=None) %}
{% set ics_url = '/api/method/fossunited.api.chapter.generate_ics?event_ids=' + (event_ids | tojson | urlencode) + '&download=1' + ('&chapter=' + chapter if chapter else '') %}
{% if btn_id %}
<a
  id="{{ btn_id }}"
  href="{{ ics_url }}"
  class="{{ btn_class }}"
  aria-label="Download events as ICS calendar file"
  download="{{ filename }}"
>
  <i class="ti ti-calendar-down" aria-hidden="true"></i> Download ICS
</a>
{% endif %}
{% if fn_name %}
<script>
  window.{{ fn_name }} = function () {
    var a = document.createElement('a');
    a.href = '{{ ics_url }}';
    a.download = '{{ filename }}';
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
  };
</script>
{% endif %}
{% endmacro %}
