{% macro renderfield(field, submission) %}
    {% if field.fieldtype == 'Section Break' %}
    <div></div>
    {% elif field.fieldtype == 'Column Break' %}
    <div></div>
    {% elif field.fieldtype == 'Table' %}
        {% from "fossunited/templates/macros/custom_question.html" import CustomQuestion %}
        {% if frappe.form_dict['cfp'] %}
            {# set custom_questions = frappe.get_doc("FOSS Event CFP", submission.linked_cfp).cfp_custom_questions #}
            {% for question in frappe.get_doc("FOSS Event CFP", submission.linked_cfp).cfp_custom_questions %}
                {{ CustomQuestion(question, submission.custom_answers[question.idx - 1]) }}
            {% endfor %}
        {% endif %}
    {% elif field.fieldtype == 'Data' %}
        <label for="{{field.fieldname}}" class="form-label text-sm">{{field.label}}</label>
        <input type="{% if field.fieldname == 'email' %} email {% else %} text {% endif %}" class="form-control text-sm rounded-input" id="{{ field.fieldname }}" value="{{ submission[field.fieldname] }}" {% if field.read_only %} readonly {% endif %}>
    {% elif field.fieldtype == 'Select' %}
        <div class="d-flex flex-column">
            <label for="{{field.fieldname}}" class="form-label text-sm">{{field.label}}</label>
            <select name="{{ field.fieldname }}" id="{{ field.fieldname }}" class="form-select form-control custom-select text-sm rounded-input w-100 px-3 py-1">
                {% for option in field.options.splitlines() %}
                    <option value="{{ option }}" {% if submission[field.fieldname] == option %} selected {% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        </div>
    {% elif field.fieldtype == 'Check' %}
        <div class="form-check d-flex align-items-center ">
            <input type="checkbox" class="form-control form-check-input text-sm" id="{{ field.fieldname }}">
            <label class="form-check-label text-sm m-2" for="{{ field.fieldname }}">{{ field.label }}</label>
            {% if field.description %}
                <small>{{ field.description }}</small>
            {% endif %}
        </div>
    {% elif field.fieldtype == 'Text Editor' %}
        <div class="form-label text-sm mb-2">
            {{ field.label }}
        </div>
        <div id="{{ field.fieldname }}" class="ql-editor-custom" type="text-editor">
            {{ submission[field.fieldname] }}
        </div>
    {% elif field.fieldtype == 'Text' %}
        <div class="mb-4 py-1">
            <label for="{{ field.fieldname }}" class="form-label text-sm">{{ field.label }}</label>
            <input type="text" class="form-control text-sm rounded-input" id="{{ field.fieldname }}" value="{{ submission[field.fieldname] }}">
        </div>
    {% elif field.fieldtype == 'Small Text' %}
        <div class="mb-4 py-1">
            <label for="{{ field.fieldname }}" class="form-label text-sm">{{ field.label }}</label>
            <textarea class="form-control text-sm rounded-input" id="{{ field.fieldname }}" rows="3">{{ submission[field.fieldname] }}</textarea>
        </div>
    {% elif field.fieldtype == 'Long Text' %}
        <div class="mb-4 py-1">
            <label for="{{ field.fieldname }}" class="form-label text-sm">{{ field.label }}</label>
            <textarea class="form-control text-sm rounded-input" id="{{ field.fieldname }}" rows="6">{{ submission[field.fieldname] }}</textarea>
        </div>
    {% elif field.fieldtype == 'Date' %}
        <div class="mb-4 py-1">
            <label for="{{ field.fieldname }}" class="form-label text-sm">{{ field.label }}</label>
            <input type="date" class="form-control text-sm rounded-input" id="{{ field.fieldname }}" value="{{ submission[field.fieldname] }}">
        </div>
    {% elif field.fieldtype == 'Time' %}
        <div class="mb-4 py-1">
            <label for="{{ field.fieldname }}" class="form-label text-sm">{{ field.label }}</label>
            <input type="time" class="form-control text-sm rounded-input" id="{{ field.fieldname }}" value="{{ submission[field.fieldname] }}">
        </div>
    {% elif field.fieldtype == 'Datetime' %}
        <div class="mb-4 py-1">
            <label for="{{ field.fieldname }}" class="form-label text-sm">{{ field.label }}</label>
            <input type="datetime-local" class="form-control text-sm rounded-input" id="{{ field.fieldname }}" value="{{ submission[field.fieldname] }}">
        </div>
    {% elif field.fieldtype == 'Link' %}
        <div class="mb-4 py-1">
            <label for="{{ field.fieldname }}" class="form-label text-sm">{{ field.label }}</label>
            <input type="url" class="form-control text-sm rounded-input" id="{{ field.fieldname }}" value="{{ submission[field.fieldname] }}">
        </div>
    {% elif field.fieldtype == 'Currency' %}
        <div class="mb-4 py-1">
            <label for="{{ field.fieldname }}" class="form-label text-sm">{{ field.label }}</label>
            <input type="number" class="form-control text-sm rounded-input" id="{{ field.fieldname }}" value="{{ submission[field.fieldname] }}">
        </div>
    {% endif %}

    {% if field.description %}
        <small>{{ field.description }}</small>
    {% endif %}

    {% if field.fieldtype == 'Text Editor' %}
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var toolbarOptions = [
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        ['bold', 'italic', 'underline', 'strike'],
        ['blockquote', 'code-block'],
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],
        [{ 'indent': '-1'}, { 'indent': '+1' }],
        [{ 'direction': 'rtl' }],
        [{ 'color': [] }, { 'background': [] }],
        [{ 'align': [] }],
        ['clean']
        ];
        var quill = new Quill('#{{ field.fieldname }}', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });
    </script>
    {% endif %}
{% endmacro %}
