@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'FFF Forward';
    font-weight: normal;
    font-style: normal;
    src: url('/assets/fossunited/fonts/fff_font/fff-forward.regular-webfont.eot');
    src:
      url('/assets/fossunited/fonts/fff_font/fff-forward.regular-webfont.eot?#iefix')
        format('embedded-opentype'),
      url('/assets/fossunited/fonts/fff_font/fff-forward.regular-webfont.woff2') format('woff2'),
      url('/assets/fossunited/fonts/fff_font/fff-forward.regular-webfont.woff') format('woff'),
      url('/assets/fossunited/fonts/fff_font/fff-forward.regular-webfont.ttf') format('truetype'),
      url('/assets/fossunited/fonts/fff_font/fff-forward.regular-webfont.svg#fff_forwardregular')
        format('svg');
  }
}

@layer utilities {
  .btn {
    @apply flex gap-2 items-center justify-center !px-5 !py-3 rounded-lg transition-colors duration-300 ease-in-out hover:bg-gray-100 !text-sm uppercase font-semibold;
  }

  .btn-solid {
    @apply bg-gray-800 hover:bg-gray-700 text-white hover:text-white;
  }

  .btn-subtle {
    @apply bg-gray-200 hover:bg-gray-300 text-gray-800 hover:text-gray-800;
  }
}
