@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'FFF Forward';
    font-weight: normal;
    font-style: normal;
    src: url('/assets/fossunited/fonts/fff_font/fff-forward.regular-webfont.eot');
    src:
      url('/assets/fossunited/fonts/fff_font/fff-forward.regular-webfont.eot?#iefix')
        format('embedded-opentype'),
      url('/assets/fossunited/fonts/fff_font/fff-forward.regular-webfont.woff2') format('woff2'),
      url('/assets/fossunited/fonts/fff_font/fff-forward.regular-webfont.woff') format('woff'),
      url('/assets/fossunited/fonts/fff_font/fff-forward.regular-webfont.ttf') format('truetype'),
      url('/assets/fossunited/fonts/fff_font/fff-forward.regular-webfont.svg#fff_forwardregular')
        format('svg');
  }
}
