{% extends "templates/foss_base.html" %} {% block title %} {{ _("Book Conference
Tickets") }}{% endblock %} {% block page_content %}
<section class="ticket-form">
  <div class="thumbnail-image">
    <img src="/assets/fossunited/images/ticket_cover.png" />
  </div>
  <div class="container ticket-details form py-4 px-4 mt-5">
    <div class="about">
      <div class="header">
        <h3>Book Conference Ticket for {{ event.event_name }}</h3>
      </div>
      <p class="my-5">
        <b>Terms & Conditions:</b> Once bought, no monetary refunds will be
        given. You can only transfer the ticket to another person. You must
        inform the recipient of details to the organizing team by writing an
        email to the organizing team.
        <br />
        <br />
        You agree to share the information entered on this page with FOSS United
        Foundation and Razorpay, adhering to applicable laws.
        <br />
      </p>
    </div>
    <hr />
    <input
      type="text"
      class="hidden"
      name="csrf_token"
      value="{{ frappe.session.csrf_token }}"
    />

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="event_name">Event name</label>
        <input
          type="text"
          class="form-control"
          id="event_name"
          name="event_name"
          value="{{event.event_name}}"
          required
          disabled
        />
      </div>
    </div>

    <input
      type="text"
      class="form-control"
      id="event"
      name="event"
      required
      disabled
      hidden
    />

    <div class="form-padding form-group">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first_name">First Name</label>
          <input
            type="text"
            class="form-control"
            id="first_name"
            name="first_name"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="last_name">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="last_name"
            name="last_name"
            required
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="mobile">Phone</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="mobile"
            required
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="organization">Organization or college name</label>
          <input
            type="text"
            class="form-control"
            id="organization"
            name="organization"
            required
          />
        </div>
      </div>
      <div class="form-row mb-5">
        <div class="form-group col-md-6">
          <label for="pin_code">PIN Code</label>
          <input
            type="text"
            class="form-control"
            id="pin_code"
            name="pin_code"
            required
          />
        </div>

        <div class="form-group col-md-6">
          <label for="state">State</label>
          <select
            id="state"
            name="State"
            class="form-control custom-select form-select"
            required
          >
            <option selected>Select State</option>
            {% for state in frappe.db.get_list('State', pluck='name') %}
            <option value=" {{ state }}">{{ state }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-row tickets">
        <div class="form-group col-md-6">
          <label for="general_ticket_price">General Ticket Price</label>
          <input
            type="text"
            class="form-control"
            id="general_ticket_price"
            value="{{ event.general_ticket_price }}"
            name="general_ticket_price"
            disabled
          />
        </div>

        <div class="form-group col-md-6">
          <label for="student_ticket_price">Student Ticket Price</label>
          <input
            type="text"
            class="form-control"
            id="student_ticket_price"
            value="{{ event.student_ticket_price }}"
            name="student_ticket_price"
            disabled
          />
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>General tickets</label>
        <select
          class="form-control custom-select form-select form-select-sm"
          name="general_tickets"
          id="general_tickets"
          style="width: 64px"
        >
          {% for i in range(11) %}
          <option value="{{ i }}" {% if loop.first %}selected{% endif %}>
            {{ i }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-6">
        <label>Student tickets</label>
        <select
          class="custom-select custom-select-sm"
          name="student_tickets"
          id="student_tickets"
          style="width: 64px"
        >
          {% for i in range(11) %}
          <option value="{{ i }}" {% if loop.first %}selected{% endif %}>
            {{ i }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-row">
      <div id="total-amount" class="col-md-12 flex justify-content-between">
        <h6>Total Amount</h6>
        <h6 id="displayTotalAmount">₹ 0</h6>
      </div>
    </div>
    <div id="buy-btn" class="float-right my-5">
      <button
        id="buy-ticket"
        onclick="addInputsToDoc()"
        type="submit"
        class="buy-btn"
      >
        Buy Tickets
      </button>
    </div>
  </div>
</section>

{% block page_script %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  /* function and jquery event listener to update the total_amount and also to pass this ahead in the tickets variable which adds data to document */
  $(document).ready(function () {
    $("#general_tickets, #student_tickets").change(function () {
      getTotalAmount();
    });
  });

  function getTotalAmount() {
    /* student ticket price and general ticket price */
    let stp = parseFloat($("#student_ticket_price").val()) || 0;
    let gtp = parseFloat($("#general_ticket_price").val()) || 0;

    let general_count = parseFloat($("#general_tickets").val());
    let student_count = parseFloat($("#student_tickets").val());

    let total_amount = stp * student_count + gtp * general_count;

    $("#displayTotalAmount").text("₹ " + total_amount);

    return total_amount;
  }
  function addInputsToDoc() {
    let ticketsData = {
      doctype: "Conference Tickets",
      event: "{{ event.name }}",
      event_name: "{{ event.event_name }}",
      first_name: $("#first_name").val(),
      last_name: $("#last_name").val(),
      organization: $("#organization").val(),
      phone: $("#phone").val(),
      email: $("#email").val(),
      state: $("#state").val(),
      pin_code: $("#pin_code").val(),
      general_tickets: $("#general_tickets").val(),
      student_tickets: $("#student_tickets").val(),
    };

    frappe.call({
      method: "fossunited.www.book-conference-ticket.index.add_ticket_to_doc",
      args: {
        ticketsData: ticketsData,
      },
      callback: function (r) {
        let data = r.message;

        open_razorpay_checkout({
          razorpay_key: data.razorpay_key,
          ticket_id: data.ticket_id,
          order_id: data.order_id,
          razorpay_payment_id: data.razorpay_payment_id,
          amount: data.amount,
          currency: data.currency,
          fullname: data.fullname,
          email: data.email,
        });
      },
      error: function (r) {
        frappe.msgprint(
          (msg = "Payment Checkout Failed, please contact admins"),
          (title = "Callback Error"),
          (indicator = red)
        );
      },
    });
  }

  /* Remember to use frappe.get_meta with a for loop to fetch the fields from the doctype */
  /* Razorpay Payment checkout Pop up function */
  function open_razorpay_checkout({
    ticket_id,
    razorpay_key,
    order_id,
    amount,
    currency,
    fullname,
    email,
    phone,
  }) {
    let options = {
      name: "{{ event.event_name }}",
      description: "{{ event.event_bio }}",
      image: "https://avatars.githubusercontent.com/u/61445214?v=4",
      key: razorpay_key,
      amount,
      currency,
      order_id,
      ticket_id,
      handler: function (response) {
        (response.ticket_id = ticket_id),
          frappe.call({
            method:
              "fossunited.www.book-conference-ticket.index.capture_payment",
            args: {
              doctype: "Conference Tickets",
              ticket_id: ticket_id,
            },
            callback: (r) => {
              window.location.href = "/payment-success?event={{event.name}}";
            },
            error: (r) => {
              window.location.href = "/payment-failed?event={{event.name}}";
            },
          });
      },
      prefill: {
        name: fullname,
        email: email,
        contact: phone,
      },
      theme: { color: "#08B74F" },
    };

    let rzp = new Razorpay(options);
    rzp.on("payment.failed", function (response) {
      frappe.throw("There was an error. Please try again.");
    });

    rzp.open();
  }
</script>
{% endblock %}
<style>
  body {
    background-color: #f5f5f5;
  }
  .ticket-form {
    margin: auto;
    position: relative;
    width: 50rem;
    border-radius: 0.5rem;
  }
  .thumbnail-image img {
    width: auto;
    height: auto;
    z-index: 0;
    border-radius: none;
  }
  .about p {
    width: auto;
  }

  input {
    height: 2.1875rem;
  }
  #event_name {
    padding: 0.71875rem 0.875rem;
  }
  .ticket-details {
    padding: 2.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    width: 40rem;
    position: relative;
    top: -10%;
  }
  .total-amount {
    padding: 0rem 0.625rem 0rem 0.625rem !important;
  }
  .buy-btn {
    background-color: #08b74f !important;
    color: white;
    padding: 0.625rem 0.625rem;
    display: flex;
    float: right;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    margin: 0.625rem 0rem 1.25rem 0rem;
  }

  @media (min-width: 320px) and (max-width: 375px) {
    .ticket-form {
      margin: 1.25rem;
      width: auto;
      padding: 0.25rem;
    }
    .ticket-form p {
      width: auto;
      padding: 0.625rem;
      font-size: var;
    }
    .ticket-form h3 {
      font-size: var(--text-base) !important;
    }
    .ticket-details {
      max-width: 12rem;
      top: -5%;
    }
    .thumbnail-image img {
      max-width: auto;
      height: 5rem;
    }
    label {
      font-size: var(--text-xs2) !important;
    }
    input,
    select {
      font-size: var(--text-xs) !important;
      padding: 0.5rem;
    }
    #total-amount {
      padding: 0.625rem 0px 0.625rem 0px;
    }
  }

  @media (min-width: 375px) and (max-width: 425px) {
    .ticket-form {
      margin: 1.875rem;
      width: auto;
      padding: 0.25rem;
    }
    .ticket-form p {
      width: auto;
      padding: 0.5rem;
      font-size: var(--text-sm);
    }
    .ticket-form h3 {
      font-size: var(--text-base) !important;
    }
    .ticket-details {
      width: 15rem;
      top: -5%;
    }
    label {
      font-size: var(--text-sm);
    }
    input,
    select {
      font-size: var(--text-sm) !important;
      padding: 0.3125rem 0px 0.3125rem 0px;
    }
    #total-amount {
      padding: 0.625rem 0px 0.625rem 0px;
    }
  }

  @media (min-width: 425px) and (max-width: 576px) {
    .ticket-form {
      margin: 1.875rem;
      width: auto;
      padding: 0.25rem;
    }
    .ticket-form p {
      width: auto;
      padding: 0.5rem;
      font-size: 0.9375rem;
    }
    .ticket-form h3 {
      font-size: 1.5625rem !important;
    }
    .ticket-details {
      width: 18rem !important;
      top: -5%;
    }

    #total-amount {
      padding: 0.625rem 0px 0.625rem 0px;
    }
  }

  @media screen and (max-width: 768px) {
    label {
      font-size: var(--text-sm) !important;
    }
    input,
    select {
      font-size: var(--text-sm) !important;
      padding: 0.3125rem 0px 0.3125rem 0px;
    }
  }
  @media (min-width: 577px) and (max-width: 768px) {
    .ticket-form {
      margin: 1.875rem;
      width: auto;
      padding: 0.2rem;
    }
    .ticket-form p {
      width: auto;
      padding: 0.5rem;
      font-size: 1.125rem;
    }
    .ticket-form h3 {
      font-size: 1.875rem !important;
    }
    .ticket-details {
      width: 25rem;
      top: -5%;
    }
    label {
      font-size: 1.125rem;
    }
    input {
      font-size: 0.9375rem;
      padding: 0.3125rem 0px 0.3125rem 0px;
    }
    #total-amount {
      padding: 0.625rem 0px 0.625rem 0px;
    }
  }
</style>
{% endblock %}
