{% extends "templates/foss_base.html" %}
{% block head_include %}
  {{ super() }}
  <link rel="stylesheet" href="/assets/fossunited/css/styles.css" />
{% endblock %}

{% block page_content %}
  <div class="v3-page">
    <div class="v3-container">
      {{ breadcrumb(breadcrumbs) }}

      <div class="flex flex-col gap-6 mt-5">
        <div class="flex flex-col md:flex-row gap-6 md:gap-8 mb-5">
          <div class="md:w-2/3 w-full flex flex-col gap-2">
            {{ hero_image() }}

            <div class="v3-tag v3-tag--must">
              {% if attending %}
                <span> {{ attending }} out of {{ interested }} attending here </span>
              {% elif interested and interested > 0 %}
                <span>
                  {{ interested }} {{ "person is" if interested == 1 else "people are" }}
                  interested here
                </span>
              {% endif %}
            </div>
          </div>

          <div class="md:w-2/3 w-full flex flex-col justify-between gap-4">
            {{ hero_section() }}

            <div
              class=" flex flex-col md:flex-row justify-center items-stretch gap-2 md:px-0 w-full "
            >
              {% if hackathon.is_registration_live %}
                {{ primary_button("Register", registration_link) }}
              {% endif %}

              <a
                href="{{ hackathon.external_website_url or '/' + hackathon.route }}"
                class="w-full md:w-auto text-xs text-center uppercase font-semibold bg-gray-50 hover:bg-gray-200 text-black py-3 px-4 hover:no-underline "
                aria-label="Goto {{ hackathon.hackathon_name }} event page"
              >
                Go to Event Page
              </a>

              {% if frappe.session.user != 'Guest' %}
                {{ like_button() }}
              {% endif %}
            </div>
          </div>
        </div>

        <div class="flex flex-col md:flex-row gap-6 md:gap-8">
          <div class="md:w-1/3 w-full">{{ organizers_section() }}</div>
          <div class="md:w-2/3 w-full">{{ about_section() }}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% macro breadcrumb(path) %}
  <nav aria-label="Breadcrumb" class="breadcrumb my-2">
    <ol class="flex flex-wrap">
      {% for item in path %}
        <li class="breadcrumb-item text-sm">
          {% if item.route %}
            <a href="{{ item.route }}" class="hover:cursor-pointer">{{ item.label }}</a>
          {% else %}
            {{ item.label }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endmacro %}

{% macro hero_image() %}
  <div class="position-relative">
    <span
      class="z-10 position-absolute text-white font-weight-bold text-lowercase px-3 py-2 bg-dark "
      style="top: 12px; left: 12px; font-family: 'Space Mono', monospace;"
    >
      localhost:{{ doc.city }}
    </span>

    {% set src = doc.image or "/assets/fossunited/images/localhost_banner.png" %}

    <img
      src="{{ src }}"
      alt="Localhost Image"
      class="img-fluid border border-dark localhost-hero-img"
    />
  </div>

  <style>
    /* Localhost hero image */
    .localhost-hero-img {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }

    @media (min-width: 768px) {
      .localhost-hero-img {
        width: 300px;
        height: 300px;
      }
    }
  </style>
{% endmacro %}

{% macro hero_section() %}
    <div class="flex flex-col justify-between gap-4 w-full px-2 px-md-0">
    <div class="flex flex-col gap-2">
      <a href="{{ hackathon.external_website_url or '/' + hackathon.route }}" class="inline-block">
        {% if hackathon.hackathon_logo %}
          <img
            class="h-8"
            src="{{ hackathon.hackathon_logo }}"
            alt="{{ hackathon.hackathon_name }}"
          />
        {% else %}
          <h4 class="text-sm font-medium">{{ hackathon.hackathon_name }}</h4>
        {% endif %}
      </a>

      <div class="flex justify-between gap-4">
        <div>
          <h2 class="text-xl md:text-3xl font-semibold">{{ doc.localhost_name }}</h2>
          <p class="text-sm">{{ doc.city }}, {{ doc.state }}</p>
        </div>
      </div>

      <div class="flex flex-col gap-2 text-gray-700">
        {% if doc.map_link %}
          <div class="flex gap-1 items-center">
            <i class="ti ti-map-pin text-lg"></i>
            <a
              href="{{ doc.map_link }}"
              target="_blank"
              rel="noopener noreferrer"
              class="text-sm hover:underline"
            >
              {{ doc.location or doc.localhost_name }}
            </a>
          </div>
        {% endif %}

        <div class="flex gap-1 items-center">
          <i class="ti ti-calendar text-lg"></i>
          <p class="text-sm">{{ hackathon_format_date }}</p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro primary_button(label, link) %}
  <a
    class=" w-full md:w-auto text-sm text-center uppercase font-semibold bg-gray-900 hover:bg-gray-800 text-white py-3 px-4 hover:no-underline "
    href="{{ link }}"
    target="_blank"
  >
    {{ label }}
  </a>
{% endmacro %}

{% macro like_button() %}
  <button
    data-liked="{{ has_liked }}"
    id="like-button"
    onclick="toggle_like()"
    class="rounded-none w-10 h-auto p-2 border border-gray-700 bg-gray-50 hover:bg-green-50 flex items-center justify-center "
  >
    {% if has_liked %}
      <i class="ti ti-heart-filled text-green-600 text-xl"></i>
    {% else %}
      <i class="ti ti-heart text-xl"></i>
    {% endif %}
  </button>
{% endmacro %}

{% macro organizers_section() %}
  <div class="flex flex-col gap-2 max-w-96 w-full shrink">
    <h4 class="text-base font-semibold">Organizers</h4>
    <div class="flex flex-col gap-2">
      {% for organizer in organizers %}
        {{ organizer_card(organizer.profile_photo, organizer.full_name, organizer.route) }}
      {% endfor %}
    </div>
    <div class="flex flex-col gap-1 mt-5">
      <h5 class="text-sm font-medium text-gray-500">Contact Localhost</h5>
      <div class="flex gap-1 items-center">
        <i class="ti ti-mail"></i>
        <a class="text-sm text-gray-800" href="mailto:{{ doc.email }}">{{ doc.email }}</a>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro organizer_card(image, name, route) %}
  <a href="/{{ route }}" target="_blank" class="flex gap-2 items-center">
    {% set organizer_image = image or '/assets/fossunited/images/defaults/user_profile_image.png' %}
    <img
      class="w-10 h-10 aspect-square border border-black"
      src="{{ organizer_image }}"
      alt="{{ name }}"
    />
    <span class="text-sm text-gray-800">{{ name }}</span>
  </a>
{% endmacro %}

{% macro about_section() %}
<div class="d-flex flex-column mt-3 mt-md-0">
    <div>
      <h4 class="text-base font-semibold">About the Event</h4>
      <p>{{ hackathon.hackathon_description }}</p>
    </div>
    <div>
      <h4 class="text-base font-semibold">Rules</h4>
      <p>{{ hackathon.hackathon_rules }}</p>
    </div>
  </div>
{% endmacro %}

{% block page_script %}
  <script>
    function toggle_like() {
      let is_liked = $('#like-button').data('liked')
      let to_add = is_liked === 'True' ? 'No' : 'Yes'
      frappe.call({
        method: 'frappe.desk.like.toggle_like',
        args: {
          doctype: 'FOSS Hackathon LocalHost',
          name: '{{ doc.name }}',
          add: to_add,
        },
        callback: (r) => {
          location.reload()
        },
        error: (r) => {
          console.log('ERROR' + r)
        },
      })
    }
  </script>
{% endblock %}
