<style>
    .section-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content{
        margin-top: 40px;
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
</style>

<div div="section-container">
    <p class="content">
        {{ content }}
    </p>
    {%- if url_1 or url_2 -%}
    <div class="hero-buttons">
        {%- if url_1 -%}
        <a class="button primary-button" href="{{ url_1 }}">
            {% if icon_1_align == "Left" and icon_1 %}
            <img class="btn-icon" src="{{ icon_1 }}" alt="Primary Icon">
            {% endif %}
            {{ _(label_1) }}
            {% if icon_1_align == "Right" and icon_1 %}
            <img class="btn-icon" src="{{ icon_1 }}" alt="Primary Icon">
            {% endif %}
        </a>
        {%- endif -%}
        {%- if url_2 -%}
        <a class="button secondary-button" href="{{ url_2 }}">
            {% if icon_2_align == "Left" and icon_2 %}
            <img class="btn-icon" src="{{ icon_2 }}" alt="Secondary Icon">
            {% endif %}
            {{ _(label_2) }}
            {% if icon_2_align == "Right" and icon_2 %}
            <img class="btn-icon" src="{{ icon_2 }}" alt="Secondary Icon">
            {% endif %}
        </a>
        {%- endif -%}
    </div>
    {%- endif -%}
</div>