{% extends "templates/foss_base.html" %} {% block title %}{{ doc.talk_title }}{% endblock %}
{% block page_content %}
  <div class="container">
    <div class="backlink mt-5">
      <a href="/{{ event.route }}">
        <span>{{ event.event_name }}</span>
      </a>
      <i class="ti ti-chevron-right"></i>
      <a href="/dashboard/cfp/{{ event.event_permalink }}">
        <span>All Proposals</span>
      </a>
      <i class="ti ti-chevron-right"></i>
      <span style="font-weight: var(--fw-normal)">{{ doc.talk_title }}</span>
    </div>
    {{ render_cfp_header() }}
  </div>

  {% from 'fossunited/templates/macros/horizontal_navbar.html' import horizontal_navbar %}
  <div class="horizontal-navbar-parent">
    <div class="container">{{ horizontal_navbar(nav_items) }}</div>
  </div>

  <div class="container">
    {{ render_proposal_details() }}
    {% if not cfp.anonymise_proposals or doc.status=='Approved' %}{{ render_speaker_details() }}{% endif %}
    {{ render_proposal_reviews() }}
  </div>
{% endblock %}
{% macro render_cfp_header() %}
  <div class="cfp-header-container">
    <div class="cfp-header--title">
      <h1>{{ doc.talk_title }}</h1>
    </div>
    <div class="cfp-header--speaker-status-like">
      <div class="cfp-header--speaker-status-container">
        {% if not cfp.anonymise_proposals or doc.status=='Approved' %}
          <div class="cfp-header--speaker">
            <img
              class="user-img-sm rounded"
              src="{{ doc.profile_photo or '/assets/fossunited/images/defaults/user_profile_image.png' }}"
              alt=""
            />
            <span class="cfp-header--speaker-name">{{ doc.full_name }}</span>
          </div>
        {% endif %}
        <div class="cfp-header--status">
          <span>{{ make_badge(text=doc.status) }}</span>
        </div>
      </div>
      <div class="cfp-header--like-edit-container">
        {% if not frappe.session.user == 'Guest' %}
          <div class="cfp-header--like-container" id="likes-container">
            <div class="likes-number">
              <span style="color: hsl(var(--clr-foss-mint-500))">{{ likes | length }} Likes </span>
            </div>
            <button id="cfp-like-button" data-liked="{{ liked_by_user }}" onclick="toggle_like()">
              <i
                class="ti {% if liked_by_user %}ti-heart-filled{% else %}ti-heart{% endif %}"
                style="{% if liked_by_user %}color: red;{% endif %}"
              ></i>
              <span>Like</span>
            </button>
          </div>
        {% endif %}
        {% if frappe.session.user == doc.submitted_by %}
          <button onclick="window.location.href='/{{ doc.route }}/edit'">Edit CFP</button>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}
{% macro render_proposal_details() %}
  <div class="proposal-detail-container cfp-content-div content-div" id="proposal_details">
    <h5>{{ _("Talk Description") }}</h5>
    {% if doc.talk_reference %}
      <a class="green-link text-lg" href="{{ doc.talk_reference }}">
        <span>Reference</span>
        <i class="ti ti-external-link"></i>
      </a>
    {% endif %}
    <div class="cfp--talk-description">{{ doc.talk_description }}</div>
  </div>
{% endmacro %}
{% macro render_speaker_details() %}
  <div class="speaker-detail-container cfp-content-div content-div" id="about_speaker">
    <h5>{{ _("About the Speaker") }}</h5>
    {% if submitter_foss_profile %}
      <a href="/{{ submitter_foss_profile.route }}" class="green-link text-lg">
        <span>View Profile</span>
        <i class="ti ti-external-link"></i>
      </a>
    {% endif %}
    <div class="cfp--speaker-description">{{ doc.bio }}</div>
  </div>
{% endmacro %}
{% macro render_proposal_reviews() %}
  <div class="proposal-reviews-container cfp-content-div content-div" id="proposal_reviews">
    <div class="proposal-overview-section">
      <h5>{{ _("Reviews Overview") }}</h5>
    </div>
    <div class="review-statistics-grid">
      {% for statistic in review_statistics %}
        <div class="review-statistic-container">
          <div
            class="statistic-illustrator-container"
            style="background: hsl({{ statistic.background }}); border: 1px solid hsl({{ statistic.color }})"
          >
            <div
              class="statistic-illustrator-fill"
              style="width: {{ statistic.percentage }}%; background: hsl({{ statistic.color }});"
            ></div>
          </div>
          <div class="review-statistic-values">
            <div class="statistic-label">{{ statistic.label }}</div>
            <div class="statistic-percent" style="color: hsl({{ statistic.color }});">
              {{ statistic.percentage }}%
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="form-divider my-5"></div>
    <div class="review-comments-section">
      <h6>Reviews</h6>
      {% if reviews | len == 0 %}
        <span>No reviews yet</span>
      {% endif %}
      {% for review in reviews %}
        <div class="review-comment-container">
          <div class="d-flex">
            <div class="review-comment-username-remarks ml-3">
              <div class="review-comment-remarks" data-name="{{ review.name }}">
                {{ review.remarks }}
              </div>
              <div class="d-flex align-items-baseline">
                <span class="text-sm mr-1">Reviewer #{{loop.index}}</span>
                <span class="mx-1">•</span>
                <span class="text-sm mr-1">{{ remark_val[review.to_approve] }}</span>
                <span class="mx-1">•</span>
                <span class="text-sm"> {{ frappe.utils.pretty_date(review.modified) }} </span>
              </div>
            </div>
          </div>
        </div>
        {% if not loop.last %}
        <div class="form-divider"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endmacro %}
{% block page_script %}
  <script>
    $(document).ready(() => {
      $('#submit-cfp-review').on('click', (e) => {
        e.preventDefault()
        post_review()
      })
    })

    function post_review() {
      const to_approve = $('input[name="review-status"]:checked').val()
      const remarks = $('#remarks').val()
      frappe.call({
        method: 'fossunited.fossunited.forms.post_review',
        args: {
          submission: '{{ doc.name }}',
          to_approve: to_approve,
          remarks: remarks,
        },
        callback: (r) => {
          $('#proposal_reviews').load(document.URL + ' #proposal_reviews')
        },
        error: (r) => {
          console.log('ERROR' + r)
          frappe.msgprint('There was an error posting your review. Please try again.' + r)
        },
      })
    }

    function toggle_like(e) {
      let liked = $('#cfp-like-button').data('liked')
      liked = liked === 'True' ? 'False' : 'Yes'
      console.log(liked)
      frappe.call({
        method: 'frappe.desk.like.toggle_like',
        args: {
          doctype: 'FOSS Event CFP Submission',
          name: '{{ doc.name }}',
          add: liked,
        },
        callback: (r) => {
          $('#likes-container').load(document.URL + ' #likes-container')
        },
        error: (r) => {
          console.log('ERROR' + r)
        },
      })
    }

    function handleCommentEdit(e) {
      let docname = $(e).data('name')
      let commentElement = $('.review-comment-remarks[data-name="' + docname + '"]')

      frappe
        .call({
          method: 'frappe.client.delete',
          args: {
            doctype: 'FOSS Event CFP Review',
            name: docname,
          },
        })
        .then((result) => {
          location.reload()
        })
        .catch((err) => {
          frappe.msgprint(err)
        })
    }
  </script>
{% endblock %}
