{% extends "templates/foss_base.html" %}

{% block title %}{{ doc.talk_title }}{% endblock %}

{% block page_content %}

{% set cfp = frappe.db.get_value("FOSS Event CFP", linked_cfp, ["chapter", "anonymise_proposals", "allow_cfp_edit"], as_dict=True) %}

<div class="container" id="head-cfp">
    <div class="my-6">
        {{ BreadCrumb(doc.route) }}
    </div>

    <div class="date-time-category-flex">
        <div class="icon-text-container">
            <img src="/assets/fossunited/icons/hash-02.svg">
            {{ doc.category }}
        </div>
        <div class="icon-text-container">
            <img src="/assets/fossunited/icons/hourglass-02.svg">
            {{ doc.talk_duration }}
        </div>
        {% if doc.first_talk == "Yes" %}
        <div class="icon-text-container">
            <img src="/assets/fossunited/icons/stars.svg">
            {{ _("First Talk") }}
        </div>
        {% endif %}
    </div>

    <h3 class="mt-2 py-2 ">
        {{ doc.talk_title }}
    </h3>

    <div class="date-time-category-flex" style="font-size: 1rem;">
        {% if cfp.anonymise_proposals == 0 %}
        <div class="gray-600">
            {{ _("By") }} {{ doc.full_name }} 
        </div>
        <div class="gray-600">
            |
        </div>
        {% endif %}
        <div class="d-flex icon-text-container" id="likes-section">
            {% set likes = get_doc_likes("FOSS Event CFP Submission", doc.name) %}
            <div class=" d-flex align-items-center like-button {% if frappe.session.user in likes %} liked {% endif %}" type="button" onClick="toggle_likes('{{doc.name}}' {% if frappe.session.user not in likes %}, 'Yes' {% endif %})">
                {% include "public/icons/heart.svg" %}
            </div>            
            {% if likes %}
                {{ likes | length }}
            {% else %}
                {{ _("0") }}
            {% endif %}
            Likes
        </div>
        <div class="gray-600">
            |
        </div>
        <div class="d-flex align-items-center gap-2">
            {{ make_badge(doc.status, "md") }}
        </div>

    </div>
    <!-- if is_session_user_team_member(cfp.chapter) and if not (frappe.session.user in get_reviewers(doc.event)["Emails"])  -->
    {% if is_session_user_team_member(cfp.chapter) %}
    <div class="d-flex">
        <div class="dropdown-with-button">
            <label class="semi-bold m-0" for="cfp-status">Status</label>
            <select class="mx-4 input-with-feedback form-control ellipsis bold" maxlength="6" name="cfp-status" id="cfp-status">
                {% for option in ['Open', 'Approved', 'Rejected'] %}
                    {% if option == doc.status %}
                        <option class="my-1" value="{{ option }}" selected>{{ option }}</option>
                    {% else %}
                        <option class="my-1" value="{{ option }}">{{ option }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <img src="/assets/fossunited/icons/chevron-down.svg" class="h-50" style="right: 48px; margin: 0px;">
            <div class="btn primary-button" onClick="update_status()" id="update-status-button" style="visibility: hidden;">
                Update
            </div>
        </div>
    </div>

    {% endif %}

</div>

{% set navbar_items = get_cfp_navbar(doc.event , cfp.anonymise_proposals) %}
<div class="container-center mb-4">
    <div class="navbar-section">
        {% for key in navbar_items %}
            <div class="navbar-item">
                {{ key }}
            </div>
        {% endfor %}
    </div>   
</div>

<div class="content-div container mb-4" id="proposal-details">
    {% if doc.talk_reference %}
        <div class="icon-text-container medium">
            <a href="{{ doc.talk_reference }}" target="_blank" style="color: #1D2939;" >
                Talk Reference
            </a>
            <img src="/assets/fossunited/icons/link-external.svg">
        </div>
    {% endif %}

    <div class="text-xl my-4 semi-bold">
        {{ _("Talk Description") }}
    </div>
    
    <div class="my-4">
        {{ doc.talk_description }}
    </div>

    <div class="form-divider"></div>

    <div class="text-xl my-4 semi-bold">
        {{ _("Comments") }}
    </div>

    <div class="my-4">
        <div class="add-comment-section d-flex" >
            <div class="mr-2">
                {{ frappe.session.user | get_avatar(size='xs', corners='circle', grayscale=False, stroke="") }}
            </div>
            <div class="w-100 h-25">
                <textarea name="comment" id="cfp-comment" class="form-control text-sm rounded-input mb-3" placeholder="Write a comment..." rows="4" cols="10"></textarea>
                <div class="btn secondary-button mb-1" onClick="add_comment()">
                    Comment
                </div>
            </div>
        </div>
        <div class="mt-4" id="comments-section">
            {% set comments = frappe.db.get_all(
                    "Comment", 
                    filters={
                        "reference_doctype": "FOSS Event CFP Submission",
                        "reference_name": doc.name,
                        "comment_type": "Comment",
                    },
                    fields=["comment_email", "comment_by", "creation", "content", "owner"],
                ) %}
            {% for comment in comments %}
            {{ RenderComment(comment) }}
            {% endfor %}
        </div>
    </div>
</div>

<div class="content-div container mb-6" id="form-responses">
    <div class="text-xl my-4 semi-bold">
        {{ _("Form Responses") }}
    </div>

    <div class="my-4">
        {% for answer in doc.custom_answers %}
            <div class="text-base semi-bold mb-2">
                {{ answer.question }}
            </div>
            <div class="mb-4 py-1">
                {{ answer.response }}
            </div>
        {% endfor %}
    </div>
</div>

{% if not cfp.anonymise_proposals %}
<div class="content-div container mb-6" id="about-speaker">
    <div class="text-xl my-4 semi-bold">
        {{ _("About Speaker") }}
    </div>
    
    <div class="my-4">
        <div class="mb-4 py-1">
            {{ doc.bio }}
        </div>
    </div>
</div>
{% endif %}

{% if navbar_items['Review Proposals'] %}
<div class="container">
    <div class="content-div" id="review-proposals">
        {% set statistics = get_cfp_review_statistics(doc.event, doc.name) %}
        {% set style = ({
            "Yes" : ({
                "icon": "thumb-up",
                "color": "#015828",
                "background-color": "#D1FADF",
            }),
            "No" : ({
                "icon": "thumb-down",
                "color": "#912018",
                "background-color": "#FEE4E2",
            }),    
            "Maybe" : ({
                "icon": "help-square-contained",
                "color": "#93370D",
                "background-color": "#FEF0C7",
            }),
            "approvability":({
                "color": "#1D2939",
                "background-color": "#F2F4F7"
            }),
        }) %}
        <div class="d-flex justify-content-center mb-4">
            {% for statistic in statistics.score %}
                <div class="cfp-statistic-container" style="background-color: {{ style[statistic]['background-color'] }}">
                    {% include "public/icons/" + style[statistic].icon + ".svg" %}
                    <div class="text-xl semi-bold" style="color: {{ style[statistic].color }}">
                        {{ statistics.score[statistic] }} {{ statistic }}
                    </div>
                </div>
            {% endfor %}
    
            <div class="cfp-statistic-container" style="align-items: flex-start; padding: 8px 24px;">
                <div class="text-xl semi-bold">
                    {{ _("Not Reviewed") }}
                </div>
                <div class="text-xl">
                    {{ statistics["Not Reviewed"] }} 
                    <span class="text-xs">PENDING</span>
                </div>
            </div>
    
            <div class="cfp-statistic-container" style="align-items: flex-start; padding: 16px 24px;">
                <div class="text-xl semi-bold">
                    {{ _("Approvability") }}
                </div>
                <div class="text-xl">
                    {{ statistics["approvability"] }} %
                </div>
            </div>
        </div>
    
        
        {% if (frappe.session.user in get_reviewers(doc.event)["Emails"]) and not user_already_reviewed(doc.name) %}
        <div class="form-divider mb-4"></div>
        <div class="d-flex flex-column">
            <div class="text-base semi-bold">
                {{ _("Post Review Anonymously") }}
            </div>
            <div class=" w-100 h-25">
                <div class="py-2 medium w-25">
                    <label for="can-approve">Can Approve?</label>
                    <select class="input-with-feedback form-control ellipsis bold" maxlength="14" name="can-approve" id="can-approve">
                        <option class="my-1" value="Yes">Yes</option>
                        <option class="my-1" value="No">No</option>
                        <option class="my-1" value="Maybe">Maybe</option>
                    </select>
                </div>
                <textarea name="review-remark" id="cfp-review-remark" class="form-control text-sm rounded-input my-3" placeholder="Write Remarks..." rows="4" cols="10"></textarea>
                <div class="btn primary-button mb-1" onClick="post_review()">
                    Post Review
                </div>
            </div>
        </div>
        {% endif %}
    
        <div class="form-divider my-4"></div>
    
        <div class="my-4">
            <div class="text-xl my-4 semi-bold">
                {{ _("Reviews") }}
            </div>
            {% if not doc.reviews | length > 0 %}
                <div class="w-100 justify-content-center align-items-center p-5">
                    <div class="text-base medium text-center ">
                        No reviews yet.
                    </div>
                </div>
            {% else %}
                {% for review in doc.reviews %}
                    <div class="d-flex flex-column my-4">
                        <div class="text-base semi-bold mb-1">
                            {{ review.reviewer }}
                        </div>
                        <div class="text-base">
                            {{ review.remarks }}
                        </div>
                        <div class="my-1 text-sm medium">
                            {{ format_date_time(review.creation, "d MMM, h:mm a") }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    
    </div>
</div>

{% endif %}


{% endblock %}

{% macro BreadCrumb(route) %}
    {% set route = route.split('/') %}
    {% set event = frappe.db.get_value("FOSS Chapter Events", route[0], "event_name") %}
    {% set cfp = route[-1] %}
    <div class="breadcrumb">
        <a class="dark-links" href="">{{ event }}</a>
        <img class="ml-1 mr-1" src="/assets/fossunited/icons/chevron-right.svg">
        <a class="dark-links" href="">{{ _("CFP") }}</a>
        <img class="ml-1 mr-1" src="/assets/fossunited/icons/chevron-right.svg">
        <span class="breadcrumb-destination">{{ cfp }}</span>
    </div>
{% endmacro %}

{% macro RenderComment(comment) %}
    <div class="d-flex my-6">
        <div class="mr-4">
            {{ comment.comment_email | get_avatar(size='xs', corners='circle', grayscale=False, stroke="") }}
        </div>
        <div class="d-flex flex-column">
            <div class="text-base ">
                {{ comment.content }}
            </div>
            <div class="d-flex text-sm medium align-items-center">
                <div class="mr-2 ">
                    {{ comment.comment_by }}
                </div>
                <div style="width: 4px; height:4px; border-radius: 100%; background-color:#1D2939">
                </div>
                <div class="mx-2">
                    {{ format_date_time(comment.creation, "d MMM, h:mm a") }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block script %}
    {{ super() }}
    <script>
        function toggle_likes(doc, add = 'False') {
            frappe.call({
                method: 'frappe.desk.like.toggle_like',
                args: {
                    doctype: 'FOSS Event CFP Submission',
                    name: `${doc}`,
                    add: `${add}`,
                },
                callback: (r)=>{
                    $('#likes-section').load(document.URL +  ' #likes-section');
                },
                error: (r)=>{
                    console.log("ERROR" + r)
                }
            })
        }

        function add_comment() {
            frappe.call({
                method: 'frappe.desk.form.utils.add_comment',
                args: {
                    reference_doctype: 'FOSS Event CFP Submission',
                    reference_name: '{{ doc.name }}',
                    content: $('#cfp-comment').val(),
                    comment_email: '{{ frappe.session.user }}',
                    comment_by: '{{ frappe.db.get_value("User", frappe.session.user, "full_name") }}',
                },
                callback: (r)=>{
                    $('#cfp-comment').val('')
                    $('#comments-section').load(document.URL +  ' #comments-section');
                },
                error: (r)=>{
                    console.log("ERROR" + r)
                }
            })
        }
        
        function post_review() {
            frappe.call({
                method: 'fossunited.fossunited.utils.post_review',
                args: {
                    submission: '{{ doc.name }}',
                    reviewer: '{{ frappe.db.get_value("User", frappe.session.user, "full_name") }}',
                    to_approve: $('#can-approve').val(),
                    remarks: $('#cfp-review-remark').val(),
                },
                callback: (r)=>{
                    $('#review-proposals').load(document.URL +  ' #review-proposals');
                },
                error: (r)=>{
                    console.log("ERROR" + r)
                }
            })
        }

        document.addEventListener("DOMContentLoaded", function() {
            let navbarItems = document.querySelectorAll(".navbar-item");
            let contentDivs = document.querySelectorAll(".content-div");

            contentDivs.forEach(function (div) {
                div.style.display = "none";
            });

            navbarItems.forEach(function (navbarItem) {
                navbarItem.addEventListener("click", function () {
                    let clickedText = navbarItem.textContent.trim();

                    navbarItems.forEach(function (item) {
                        item.classList.remove("active");
                    });

                    navbarItem.classList.add("active");

                    contentDivs.forEach(function (div) {
                        div.style.display = "none";
                    });

                    let contentDivId = clickedText.toLowerCase().replace(/\s+/g, "-");
                    document.getElementById(contentDivId).style.display = "block";
                });
            });

            navbarItems[0].click();
        })

        document.getElementById("cfp-status").addEventListener("change", function () {
            document.getElementById("update-status-button").style.visibility = "visible";
        });

        function update_status(){
            frappe.call({
                method: 'frappe.client.set_value',
                args: {
                    doctype: "FOSS Event CFP Submission", 
                    name: "{{ doc.name }}", 
                    fieldname: "status", 
                    value: document.getElementById("cfp-status").value, 
                },
                callback: (r)=>{
                    location.reload();
                },
                error: (r)=>{
                    console.log("ERROR" + r)
                }
            })
        }

    </script>
{% endblock %}