name: Linters

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [ develop ]

jobs:
  linters:
    name: Semantic Commits
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install and Run Pre-commit
        uses: pre-commit/action@v2.0.3