{% extends "templates/foss_base.html" %}
{% block page_content %}
  {{ org_header() }}
  {{ about() }}
  {{ render_members() }}
  <div class="my-5 py-5"></div>
{% endblock %}

{% macro org_header() %}
  <div class="container header-section-parent">
    <div class="header-section">
	  <!-- if banner image needs to be there -->
      <img
        class="foss-banner-image header--banner"
        src="{{ org_banner or default_org_banner }}"
        alt="Banner Image"
      />

	  <div class="header--img-title-cta-section">
        <div class="header--img-title">
          <img
            src="{{ org_logo or default_org_logo }}"
            alt="{{ org_name }} Logo"
            class="header-profile-image ml-lg-6" />
          <h1
            class="pt-2 header--title">
            {{ org_name }}
          </h1>
        </div>
      </div>

    </div>
    {% if mastodon or bluesky or matrix or x or telegram or linkedin or instagram or discord %}
    <div class="header-section--socials">
      {% for (k,v) in social_links.items() %}
      <a href="{{ v }}" aria-label="{{ k|title }} for {{ doc.chapter_name }} chapter.">
        <img src="https://svgl.app/library/{{ k }}.svg" alt="{{ k|title }}" />
      </a>
      {% endfor %}
    </div>
    {% endif %}

    <div class="mt-3">
      {% if org_type %}<p class="org-type">{{ org_type }}</p>{% endif %}
      {% if country_of_origin %}<p class="org-location">📍 {{ country_of_origin }}</p>{% endif %}
      {% if org_website %}<p><a href="{{ org_website }}" target="_blank" rel="noopener">🌐 {{ org_website }}</a></p>{% endif %}
      {% if org_email %}<p><a href="mailto:{{ org_email }}">📧 {{ org_email }}</a></p>{% endif %}
    </div>
  </div>
{% endmacro %}

{% macro about() %}
  {% if org_about %}
  <div class="container my-5">
    <h2 class="subtitle">About</h2>
    <div class="description-block">{{ org_about | markdown }}</div>
  </div>
  {% endif %}
{% endmacro %}

{% macro render_members() %}
  {% if org_members %}
    {%
      from 'fossunited/templates/macros/member_card.html'
      import member_card
    %}
    <div class="container my-5">
      <h3 class="subtitle">Organization Members</h3>
      <div class="members-grid-6">
        {% for member in members %}{{ member_card(member) }}{% endfor %}
      </div>
    </div>
  {% endif %}
{% endmacro %}
